In [5]:
%reload_ext autoreload
%autoreload 2

In [6]:
from kret_studies import *
from kret_studies.notebook import *
from kret_studies.complex import *

logger = get_notebook_logger()

/Users/Akseldkw/coding/kretsinger/data/nb_log.log

In [7]:
pd.DataFrame({})

Empty DataFrame
Columns: []
Index: []

In [ ]:
Q = np.random.rand(16, 4)

In [14]:
uks_display.q_to_expanded_grid(Q)

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,0.431706,NaN,NaN,0.544921,NaN,NaN,0.763707,NaN,NaN,0.310945,NaN
1,0.654723,NaN,0.470234,0.582844,NaN,0.402421,0.271169,NaN,0.192167,0.710350,NaN,0.500183
2,NaN,0.356537,NaN,NaN,0.572706,NaN,NaN,0.447474,NaN,NaN,0.808959,NaN
3,NaN,0.287491,NaN,NaN,0.865799,NaN,NaN,0.274631,NaN,NaN,0.919422,NaN
4,0.470527,NaN,0.881659,0.444255,NaN,0.531763,0.123388,NaN,0.702522,0.427696,NaN,0.134802
5,NaN,0.394079,NaN,NaN,0.368496,NaN,NaN,0.840486,NaN,NaN,0.954448,NaN
6,NaN,0.376847,NaN,NaN,0.861428,NaN,NaN,0.066504,NaN,NaN,0.122282,NaN
7,0.057391,NaN,0.246434,0.749731,NaN,0.228387,0.116768,NaN,0.805765,0.204956,NaN,0.766986
8,NaN,0.172089,NaN,NaN,0.417912,NaN,NaN,0.667712,NaN,NaN,0.900676,NaN
9,NaN,0.239517,NaN,NaN,0.380401,NaN,NaN,0.382016,NaN,NaN,0.072686,NaN
10,0.181916,NaN,0.758439,0.663564,NaN,0.552960,0.511597,NaN,0.078621,0.457324,NaN,0.301620
11,NaN,0.950175,NaN,NaN,0.362015,NaN,NaN,0.693840,NaN,NaN,0.054109,NaN