In [1]:
%reload_ext autoreload
%autoreload 2

# Imports

In [2]:
from kret_notebook import *  # NOTE import first
from kret_matplotlib.mpl_nb_imports import *
from kret_np_pd.np_pd_nb_imports import *
from kret_polars.polars_nb_imports import *
from kret_rosetta.rosetta_nb_imports import *
from kret_sklearn.sklearn_nb_imports import *
from kret_torch_utils.torch_nb_imports import *
from kret_lightning.lightning_nb_imports import *
from kret_tqdm.tqdm_nb_imports import *
from kret_type_hints.types_nb_imports import *
from kret_utils.utils_nb_imports import *

# from kret_wandb.wandb_nb_imports import *  # NOTE this is slow to import

Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env
[kret_matplotlib.mpl_nb_imports] Imported kret_matplotlib.mpl_nb_imports in 0.0732 seconds
[kret_np_pd.np_pd_nb_imports] Imported kret_np_pd.np_pd_nb_imports in 0.0000 seconds
[kret_polars.polars_nb_imports] Imported kret_polars.polars_nb_imports in 0.0795 seconds
[kret_rosetta.rosetta_nb_imports] Imported kret_rosetta.rosetta_nb_imports in 0.0000 seconds
[kret_sklearn.sklearn_nb_imports] Imported kret_sklearn.sklearn_nb_imports in 0.2502 seconds
[kret_torch_utils.torch_nb_imports] Imported kret_torch_utils.torch_nb_imports in 0.3734 seconds
[kret_lightning.lightning_nb_imports] Imported kret_lightning.lightning_nb_imports in 0.0013 seconds
[kret_tqdm.tqdm_nb_imports] Imported kret_tqdm.tqdm_nb_imports in 0.0000 seconds
[kret_type_hints.types_nb_imports] Imported kret_type_hints.types_nb_imports in 0.0007 seconds
[kret_utils.utils_nb_imports] Imported kret_utils.utils_nb_imports in 0.0004 seconds

# LLM Ideas

In [3]:
import pandas as pd

df = pd.DataFrame({"feature_1": [1, 4, 7], "feature_2": [2, 5, 8], "label": [0, 1, 0]})
df  # Beautiful table in Jupyter

   feature_1  feature_2  label
0          1          2      0
1          4          5      1
2          7          8      0

In [4]:
import torch
import pandas as pd

data = torch.randn(100, 10)
labels = torch.randint(0, 2, (100,))

df = pd.DataFrame(data.numpy(), columns=[f"feature_{i}" for i in range(10)])
df["label"] = labels.numpy()
df  # Beautiful display!

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,label
0,0.326402,0.525367,0.705640,-0.940584,-0.185610,-0.730166,-0.507128,0.521551,-0.818507,-2.048465,1
1,-0.853130,-1.597906,-0.579366,1.651536,0.645482,-0.172683,0.505758,0.305302,-0.492931,1.745655,0
2,-1.831990,0.086711,-0.797072,-1.068612,0.340725,-0.344563,-1.740573,-0.396918,0.458346,-0.327421,1
3,-0.852426,0.214266,2.074693,1.098374,-0.138752,0.244416,-2.060976,-1.528104,0.656677,0.554758,1
4,-0.646326,1.094276,-0.011233,0.001679,-0.511803,-0.713577,0.775097,0.965663,1.779216,-0.826379,1
...,...,...,...,...,...,...,...,...,...,...,...
95,0.868139,-1.149559,-0.639731,0.659627,-1.950641,-1.003932,-0.749256,0.855496,0.494037,1.063234,1
96,0.835001,-1.544442,0.892084,-1.254437,0.431859,0.904543,-0.746719,-0.660068,1.928041,0.954698,1
97,-1.771162,-0.743253,1.280741,-0.540071,0.053015,0.308446,0.420413,0.804884,0.225506,-1.282276,0
98,-0.376143,-0.256696,-0.446758,0.697195,0.606823,-0.622312,-0.770498,1.000144,-1.028716,2.174522,0
99,0.624277,0.470247,0.511190,-0.607215,0.352851,-0.794297,-0.902337,-0.092105,1.409172,-0.647380,0

In [5]:
from datasets import Dataset

dataset = Dataset.from_dict({"feature_1": [1, 4, 7], "feature_2": [2, 5, 8], "label": [0, 1, 0]})
dataset  # HTML table with column names!

Dataset({
    features: ['feature_1', 'feature_2', 'label'],
    num_rows: 3
})

In [6]:
from datasets import DatasetDict, Dataset

splits = DatasetDict(
    {
        "train": Dataset.from_dict({"feature_1": [1, 4], "feature_2": [2, 5], "label": [0, 1]}),
        "val": Dataset.from_dict({"feature_1": [7], "feature_2": [8], "label": [0]}),
        "test": Dataset.from_dict({"feature_1": [10], "feature_2": [11], "label": [1]}),
    }
)
splits  # Shows all splits with stats!

DatasetDict({
    train: Dataset({
        features: ['feature_1', 'feature_2', 'label'],
        num_rows: 2
    })
    val: Dataset({
        features: ['feature_1', 'feature_2', 'label'],
        num_rows: 1
    })
    test: Dataset({
        features: ['feature_1', 'feature_2', 'label'],
        num_rows: 1
    })
})

In [7]:
import torch
import pandas as pd
from torch.utils.data import DataLoader

# 1. Create DataFrame with column names
df = pd.DataFrame({"feature_1": [1, 4, 7], "feature_2": [2, 5, 8], "label": [0, 1, 0]})
df  # Display in notebook

   feature_1  feature_2  label
0          1          2      0
1          4          5      1
2          7          8      0

In [8]:
# 2. Convert to torch for training
data = torch.tensor(df[["feature_1", "feature_2"]].values, dtype=torch.float32)
labels = torch.tensor(df["label"].values)

# 3. Create DataLoader for training
loader = DataLoader(TensorDataset(data, labels), batch_size=2)

In [9]:
from datasets import DatasetDict, Dataset
from torch.utils.data import DataLoader

# 1. Create HuggingFace Dataset with column names
dataset = Dataset.from_dict({"feature_1": [1, 4, 7], "feature_2": [2, 5, 8], "label": [0, 1, 0]})
dataset  # Beautiful display!

Dataset({
    features: ['feature_1', 'feature_2', 'label'],
    num_rows: 3
})

In [10]:
# 2. Split into train/val/test
splits = dataset.train_test_split(test_size=0.2, seed=42)
splits = splits["train"].train_test_split(test_size=0.25, seed=42)

split_dict = DatasetDict({"train": splits["train"], "val": splits["test"], "test": splits})  # simplified for example
split_dict  # Shows all splits!

DatasetDict({
    train: Dataset({
        features: ['feature_1', 'feature_2', 'label'],
        num_rows: 1
    })
    val: Dataset({
        features: ['feature_1', 'feature_2', 'label'],
        num_rows: 1
    })
    test: DatasetDict({
        train: Dataset({
            features: ['feature_1', 'feature_2', 'label'],
            num_rows: 1
        })
        test: Dataset({
            features: ['feature_1', 'feature_2', 'label'],
            num_rows: 1
        })
    })
})

In [11]:
import pandas as pd
import torch
from torch.utils.data import Dataset, DataLoader

# Sample DataFrame
df = pd.DataFrame({"feature_1": [1, 2, 3], "feature_2": [4, 5, 6], "label": [0, 1, 0]})

# Display column names from pandas
print(f"DataFrame columns: {df.columns.tolist()}")


# Create a custom PyTorch Dataset class
class CustomTabularDataset(Dataset):
    def __init__(self, dataframe):
        self.data = torch.tensor(dataframe.drop("label", axis=1).values, dtype=torch.float32)
        self.labels = torch.tensor(dataframe["label"].values, dtype=torch.long)
        # Store column names separately if needed for reference
        self.column_names = list(dataframe.drop("label", axis=1).columns)

    def __len__(self):
        return len(self.labels)

    def __getitem__(self, idx):
        return self.data[idx], self.labels[idx]


# Instantiate and access column names
torch_dataset = CustomTabularDataset(df)
print(f"PyTorch Dataset column names: {torch_dataset.column_names}")

DataFrame columns: ['feature_1', 'feature_2', 'label']
PyTorch Dataset column names: ['feature_1', 'feature_2']

In [12]:
UKS_PATHS.HUGGING_FACE_DIR.mkdir(parents=True, exist_ok=True)

# Beijing By Hand

## Load

In [13]:
from projects.beijing.load_beijing_data import load_beijing_air_quality_data  # project_kretsinger

In [14]:
from kret_sklearn.custom_transformers import MissingValueRemover, DateTimeSinCosNormalizer
from kret_sklearn.pd_pipeline import PipelinePD
from sklearn.preprocessing import OrdinalEncoder

In [15]:
missing_value_remover = MissingValueRemover(how="any")  # Remove rows with any NaN values
remove_nans_pipeline = PipelinePD(steps=[("remove_nans", missing_value_remover)])

In [16]:
# Cell: Load and split data FIRST (temporal split)
X, y = load_beijing_air_quality_data()
X.shape

(43824, 12)

In [17]:
# dtt([X, y], 10, filter=X.index > 20, how="head")

### Remove Nans

In [18]:
X_no_nans = remove_nans_pipeline.fit_transform_df(X, y)
y_no_nans = y.loc[X_no_nans.index]

Removed 2067 rows, representing 4.72% of the data

In [19]:
dtt([X_no_nans, y_no_nans], 3, how="head")

In [20]:
# CRITICAL: Split BEFORE normalization to avoid data leakage
split_idx = int(0.8 * len(X_no_nans))
X_train_raw = X_no_nans.iloc[:split_idx]
X_test_raw = X_no_nans.iloc[split_idx:]
y_train_raw = y_no_nans.iloc[:split_idx]
y_test_raw = y_no_nans.iloc[split_idx:]
print(f"Train: {len(X_train_raw)} samples | Test: {len(X_test_raw)} samples")

Train: 33405 samples | Test: 8352 samples

## Redo Pipeline

NOTE Nans already removed

In [21]:
float_cols = ["pm2.5", "year", "DEWP", "TEMP", "PRES", "Iws", "Is", "Ir"]
date_cols = ["month", "day", "hour"]
wind_cols = ["cbwd"]

In [22]:
date_time_normalizer = DateTimeSinCosNormalizer(
    datetime_cols={"month": 12, "day": 31, "hour": 24}
)  # Normalize 'month' and 'hour' columns
power_transformer = PowerTransformer(method="yeo-johnson", standardize=True)

wind_encoder = OrdinalEncoder()

column_transform = ColumnTransformer(
    transformers=[
        ("datetime", date_time_normalizer, date_cols),
        ("scaler", power_transformer, float_cols),
        ("windlabel", wind_encoder, wind_cols),
    ],
    remainder="passthrough",
    verbose_feature_names_out=False,
    verbose=True,
)

In [23]:
pipeline_x = PipelinePD(steps=[("column_transform", column_transform)])
pipeline_y = PipelinePD(steps=[("scaler", power_transformer)])

In [24]:
X_train_cleaned = UKS_NP_PD.move_columns(pipeline_x.fit_transform_df(X_train_raw), ["year"], ["pm2.5", "cbwd"])
X_test_cleaned = UKS_NP_PD.move_columns(pipeline_x.transform_df(X_test_raw), ["year"], ["pm2.5", "cbwd"])

[ColumnTransformer] ...... (1 of 3) Processing datetime, total=   0.0s
[ColumnTransformer] ........ (2 of 3) Processing scaler, total=   0.1s
[ColumnTransformer] ..... (3 of 3) Processing windlabel, total=   0.0s

In [25]:
y_train_cleaned = pipeline_y.fit_transform_df(y_train_raw)
y_test_cleaned = pipeline_y.transform_df(y_test_raw)

## View

In [26]:
UKS_NP_PD.dtt([X_train_cleaned, y_train_cleaned], how="head")

In [46]:
UKS_NP_PD.dtt([X_test_cleaned, y_test_cleaned], how="head")

In [ ]:
x_test_tensor = TensorDatasetCustom.from_pd(X_test_cleaned)
x_test_tensor

TensorDatasetCustom(shape=(8352, 15), columns=(['year', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'hour_sin', 'hour_cos', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir', 'pm2.5', 'cbwd'],), dtype=[torch.float32])

In [54]:
x_y_test_tensor = TensorDatasetCustom.from_pd_xy(X_test_cleaned)
x_y_test_tensor

TensorDatasetCustom(shape=(8352, 15), columns=(['year', 'month_sin', 'month_cos', 'day_sin', 'day_cos', 'hour_sin', 'hour_cos', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir', 'pm2.5', 'cbwd'],), dtype=[torch.float32])

In [55]:
x_y_test_tensor.to_pandas()

,year,month_sin,month_cos,day_sin,day_cos,hour_sin,hour_cos,DEWP,TEMP,PRES,Iws,Is,Ir,pm2.5,cbwd
0,2.143862,5.000000e-01,0.866025,2.993631e-01,-0.954139,0.500000,8.660254e-01,-1.475171,-1.842984,2.567835e-12,0.049557,-0.1008,-0.213017,0.627720,1.0
1,2.143862,5.000000e-01,0.866025,2.993631e-01,-0.954139,0.707107,7.071068e-01,-1.406766,-1.735614,2.715717e-12,0.430861,-0.1008,-0.213017,0.618798,1.0
2,2.143862,5.000000e-01,0.866025,2.993631e-01,-0.954139,0.866025,5.000000e-01,-1.543571,-1.951093,2.715717e-12,0.622375,-0.1008,-0.213017,-0.327881,1.0
3,2.143862,5.000000e-01,0.866025,2.993631e-01,-0.954139,0.965926,2.588190e-01,-1.406766,-1.842984,2.715717e-12,-1.376557,-0.1008,-0.213017,-0.616051,3.0
4,2.143862,5.000000e-01,0.866025,2.993631e-01,-0.954139,1.000000,6.123234e-17,-1.475171,-1.842984,2.715717e-12,-0.927596,-0.1008,-0.213017,-0.147388,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8347,2.143862,-2.449294e-16,1.000000,-2.449294e-16,1.000000,-0.965926,2.588190e-01,-1.680359,-1.113159,2.715717e-12,1.864657,-0.1008,-0.213017,-1.817711,1.0
8348,2.143862,-2.449294e-16,1.000000,-2.449294e-16,1.000000,-0.866025,5.000000e-01,-1.611967,-1.213403,2.715717e-12,1.872458,-0.1008,-0.213017,-1.661287,1.0
8349,2.143862,-2.449294e-16,1.000000,-2.449294e-16,1.000000,-0.707107,7.071068e-01,-1.611967,-1.213403,2.715717e-12,1.878877,-0.1008,-0.213017,-1.661287,1.0
8350,2.143862,-2.449294e-16,1.000000,-2.449294e-16,1.000000,-0.500000,8.660254e-01,-1.611967,-1.315399,2.715717e-12,1.883999,-0.1008,-0.213017,-1.817711,1.0
8351,2.143862,-2.449294e-16,1.000000,-2.449294e-16,1.000000,-0.258819,9.659258e-01,-1.543571,-1.213403,2.715717e-12,1.887915,-0.1008,-0.213017,-1.527671,1.0

In [56]:
UKS_NP_PD.dtt(x_y_test_tensor, how="head")

,year,month_sin,month_cos,day_sin,day_cos,hour_sin,hour_cos,DEWP,TEMP,PRES,Iws,Is,Ir,pm2.5,cbwd
,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32
0,2.144,0.500,0.866,0.299,-0.954,0.500,0.866,-1.475,-1.843,0.000,0.050,-0.101,-0.213,0.628,1.000
1,2.144,0.500,0.866,0.299,-0.954,0.707,0.707,-1.407,-1.736,0.000,0.431,-0.101,-0.213,0.619,1.000
2,2.144,0.500,0.866,0.299,-0.954,0.866,0.500,-1.544,-1.951,0.000,0.622,-0.101,-0.213,-0.328,1.000
3,2.144,0.500,0.866,0.299,-0.954,0.966,0.259,-1.407,-1.843,0.000,-1.377,-0.101,-0.213,-0.616,3.000
4,2.144,0.500,0.866,0.299,-0.954,1.000,0.000,-1.475,-1.843,0.000,-0.928,-0.101,-0.213,-0.147,3.000

In [57]:
UKS_NP_PD.dtt(x_test_tensor, how="head")

,year,month_sin,month_cos,day_sin,day_cos,hour_sin,hour_cos,DEWP,TEMP,PRES,Iws,Is,Ir,pm2.5,cbwd
,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32
0,2.144,0.500,0.866,0.299,-0.954,0.500,0.866,-1.475,-1.843,0.000,0.050,-0.101,-0.213,0.628,1.000
1,2.144,0.500,0.866,0.299,-0.954,0.707,0.707,-1.407,-1.736,0.000,0.431,-0.101,-0.213,0.619,1.000
2,2.144,0.500,0.866,0.299,-0.954,0.866,0.500,-1.544,-1.951,0.000,0.622,-0.101,-0.213,-0.328,1.000
3,2.144,0.500,0.866,0.299,-0.954,0.966,0.259,-1.407,-1.843,0.000,-1.377,-0.101,-0.213,-0.616,3.000
4,2.144,0.500,0.866,0.299,-0.954,1.000,0.000,-1.475,-1.843,0.000,-0.928,-0.101,-0.213,-0.147,3.000