In [5]:
%reload_ext autoreload
%autoreload 2

In [6]:
from kret_studies import *
from kret_studies.notebook import *
from kret_studies.complex import *

logger = get_notebook_logger()

In [7]:
DEVICE_TORCH_STR

'mps'

In [8]:
from VIS import dtt

In [ ]:
# Create test data with various types
import pandas as pd
import numpy as np
import torch

# 1. Pandas DataFrame with mixed types
df_mixed = pd.DataFrame(
    {
        "int_col": np.arange(100),
        "float_col": np.random.randn(100) * 1000,
        "str_col": [f"very_long_string_value_{i}_that_should_overflow" for i in range(100)],
        "bool_col": np.random.choice([True, False], 100),
        "category": pd.Categorical(np.random.choice(["A", "B", "C"], 100)),
    }
)

# 2. PyTorch tensor
tensor_2d = torch.randn(50, 4, device="cpu") * 100

# 3. NumPy arrays
np_1d = np.random.randn(75) * 10
np_2d = np.random.randn(60, 3) * 50
np_int = np.random.randint(0, 1000, (80, 2))

print("Test data created successfully!")
print(f"DataFrame shape: {df_mixed.shape}")
print(f"Tensor shape: {tensor_2d.shape}")
print(f"NumPy 1D shape: {np_1d.shape}")
print(f"NumPy 2D shape: {np_2d.shape}")
print(f"NumPy int shape: {np_int.shape}")

Test data created successfully!
DataFrame shape: (100, 5)
Tensor shape: torch.Size([50, 4])
NumPy 1D shape: (75,)
NumPy 2D shape: (60, 3)
NumPy int shape: (80, 2)

# Summary of Tests

This notebook tests all major features of the `dtt()` function:

1. **Dtypes Display**: Verifies datatypes appear below column headers
2. **Sampling Methods**: Tests `how='sample'`, `'head'`, `'tail'`
3. **Filtering**: Tests boolean masks from numpy, pandas, and torch
4. **Rounding**: Tests `round_float` parameter
5. **Overflow Indicators**: Tests `max_col_width` with red gradient for truncated content
6. **Grid Layout**: Tests `cols_per_row` with independent widths per dataframe
7. **Edge Cases**: Tests 1D arrays, Series, small datasets, single columns
8. **Performance**: Ensures optimized rendering with large datasets

All tests should maintain:
- Individual dataframe widths (no width matching between rows)
- Single unified scrollbar for entire display
- Per-dataframe features (titles, colors, dtypes, filters)

In [ ]:
import time

# Create large datasets
large_df = pd.DataFrame({f"col_{i}": np.random.randn(10000) for i in range(50)})

large_tensor = torch.randn(5000, 30)
large_np = np.random.randn(8000, 20)

# Time the rendering
start = time.time()
dtt(
    [large_df, large_tensor, large_np],
    n=20,
    cols_per_row=1,
    round_float=3,
    titles=["Large DF (10k x 50)", "Large Tensor (5k x 30)", "Large NumPy (8k x 20)"],
)
elapsed = time.time() - start

print(f"\nRendering time: {elapsed:.3f} seconds")
print(f"Expected: < 1 second for optimized version")

Rendering time: 0.033 seconds
Expected: < 1 second for optimized version

# Test 8: Performance Test
Test performance with larger datasets to ensure optimization is working.

In [ ]:
# Test 1D arrays (should convert to single column DataFrame)
dtt([np_1d, np_1d], n=10, titles=["1D NumPy", "1D NumPy Again"])

# Test single column DataFrame
single_col = pd.DataFrame({"only_col": np.random.randn(50)})
dtt([single_col, np_1d, single_col], n=5, titles=["Single Col DF", "1D Array", "Single Col DF"])

# Test pandas Series (should convert to DataFrame)
series = pd.Series(np.random.randn(40), name="my_series")
dtt([series, series], n=7, titles=["Series 1", "Series 2"])

# Test very small n
dtt([df_mixed], n=1, titles=["Only 1 row"])

# Test n larger than data
small_df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
dtt([small_df], n=10, titles=["n=10 but only 3 rows exist"])

,0
,float64
6,-9.557
13,-18.036
22,6.264
30,9.455
36,-0.109
49,-3.711
52,5.946
58,-5.588
61,-5.714
68,-2.332
,0
,float64
6,-9.557
13,-18.036
22,6.264
30,9.455
36,-0.109
49,-3.711
52,5.946
58,-5.588
61,-5.714
68,-2.332

,only_col
,float64
2,-0.813
20,-0.744
24,-0.475
34,0.101
38,-0.272
,0
,float64
3,27.023
31,13.726
37,7.212
53,1.981
58,-5.588
,only_col
,float64
2,-0.813
20,-0.744
24,-0.475
34,0.101
38,-0.272

,my_series
,float64
0,1.270
7,0.251
9,2.405
23,-0.329
25,0.871
30,1.375
35,0.452
,my_series
,float64
0,1.270
7,0.251
9,2.405
23,-0.329
25,0.871
30,1.375
35,0.452

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
54,54,-159.303,very_long_string_value_54_that_should_overflow,False,B

,a,b
,int64,int64
0,1,4
1,2,5
2,3,6

# Test 7: Edge Cases
Test edge cases like empty filters, single column, 1D arrays, etc.

In [ ]:
# Complex test: filter + round + grid + overflow + titles
filter_mask = df_mixed["int_col"] > 25

dtt(
    [df_mixed, tensor_2d, np_2d, df_mixed, np_int, tensor_2d],
    n=8,
    how="sample",
    filter=filter_mask,
    cols_per_row=3,
    round_float=2,
    max_col_width=100,
    seed=123,
    titles=["Filtered DF", "Tensor", "NumPy", "Filtered DF 2", "Ints", "Tensor 2"],
)

IndexError: boolean index did not match indexed array along axis 0; size of axis is 50 but size of corresponding boolean axis is 100

# Test 6: Combined Features
Test multiple features together: filtering + rounding + grid layout + overflow.

In [ ]:
# Test grid layout: 2 columns per row
dtt(
    [df_mixed, tensor_2d, np_2d, np_int, np_1d],
    n=5,
    cols_per_row=2,
    titles=["Row 0, Col 0", "Row 0, Col 1", "Row 1, Col 0", "Row 1, Col 1", "Row 2, Col 0"],
)

# Test grid layout: 3 columns per row
dtt([df_mixed, tensor_2d, np_2d, np_int, np_1d, df_mixed], n=5, cols_per_row=3, titles=["A", "B", "C", "D", "E", "F"])

# Test that widths are independent between rows
# Create a very wide dataframe for first position
df_wide = pd.DataFrame({f"col_{i}": np.random.randn(20) for i in range(15)})

df_narrow = pd.DataFrame({"x": np.random.randn(20), "y": np.random.randn(20)})

dtt(
    [df_wide, df_narrow, df_narrow, df_wide],
    n=5,
    cols_per_row=2,
    round_float=2,
    titles=["Wide (15 cols)", "Narrow (2 cols)", "Narrow (2 cols)", "Wide (15 cols)"],
)

# Test 5: cols_per_row Grid Layout
Test the new grid layout feature with different numbers of columns per row.

In [ ]:
# Test rounding
dtt([df_mixed, df_mixed, df_mixed], n=5, round_float=0, titles=["No decimals", "No decimals", "No decimals"])

dtt([df_mixed, df_mixed], n=5, round_float=5, titles=["5 decimals", "5 decimals"])

# Test overflow with narrow max_col_width
dtt([df_mixed], n=5, max_col_width=80, titles=["Narrow columns (80px) - should show red overflow indicator"])

# Test overflow with very narrow width
dtt([df_mixed, tensor_2d], n=5, max_col_width=50, titles=["Very narrow (50px)", "Same width"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
23,23,-780.0,very_long_string_value_23_that_should_overflow,True,C
34,34,613.0,very_long_string_value_34_that_should_overflow,True,B
45,45,403.0,very_long_string_value_45_that_should_overflow,False,C
54,54,-159.0,very_long_string_value_54_that_should_overflow,False,B
77,77,184.0,very_long_string_value_77_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
23,23,-780.0,very_long_string_value_23_that_should_overflow,True,C
34,34,613.0,very_long_string_value_34_that_should_overflow,True,B
45,45,403.0,very_long_string_value_45_that_should_overflow,False,C
54,54,-159.0,very_long_string_value_54_that_should_overflow,False,B
77,77,184.0,very_long_string_value_77_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
23,23,-780.0,very_long_string_value_23_that_should_overflow,True,C
34,34,613.0,very_long_string_value_34_that_should_overflow,True,B
45,45,403.0,very_long_string_value_45_that_should_overflow,False,C
54,54,-159.0,very_long_string_value_54_that_should_overflow,False,B
77,77,184.0,very_long_string_value_77_that_should_overflow,True,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
55,55,-413.70648,very_long_string_value_55_that_should_overflow,False,A
67,67,1006.09864,very_long_string_value_67_that_should_overflow,True,C
77,77,184.00717,very_long_string_value_77_that_should_overflow,True,C
83,83,736.79013,very_long_string_value_83_that_should_overflow,False,C
90,90,766.85181,very_long_string_value_90_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
55,55,-413.70648,very_long_string_value_55_that_should_overflow,False,A
67,67,1006.09864,very_long_string_value_67_that_should_overflow,True,C
77,77,184.00717,very_long_string_value_77_that_should_overflow,True,C
83,83,736.79013,very_long_string_value_83_that_should_overflow,False,C
90,90,766.85181,very_long_string_value_90_that_should_overflow,True,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
5,5,810.803,very_long_string_value_5_that_should_overflow,True,A
26,26,957.218,very_long_string_value_26_that_should_overflow,False,A
44,44,-116.756,very_long_string_value_44_that_should_overflow,False,C
82,82,579.423,very_long_string_value_82_that_should_overflow,True,A
87,87,1135.091,very_long_string_value_87_that_should_overflow,False,C

# Test 4: Rounding and Column Width (Overflow)
Test float rounding and max_col_width with overflow indicators.

In [ ]:
# Test filtering with different mask types
np_filter = df_mixed["int_col"] > 50  # Boolean pandas Series
torch_filter = torch.tensor(df_mixed["float_col"].values > 0)  # Boolean torch tensor
array_filter = (df_mixed["int_col"] % 2 == 0).to_numpy()  # Boolean numpy array

dtt(
    [df_mixed, df_mixed, df_mixed], n=10, filter=np_filter, titles=["Pandas Filter (>50)", "Same Filter", "Same Filter"]
)

dtt([df_mixed], n=10, filter=torch_filter, titles=["Torch Filter (float>0)"])

dtt([df_mixed], n=10, filter=array_filter, titles=["NumPy Filter (even ints)"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
51,51,-700.927,very_long_string_value_51_that_should_overflow,True,B
58,58,-634.933,very_long_string_value_58_that_should_overflow,True,A
68,68,-1649.126,very_long_string_value_68_that_should_overflow,False,A
76,76,-468.655,very_long_string_value_76_that_should_overflow,False,C
80,80,-1204.332,very_long_string_value_80_that_should_overflow,False,B
86,86,2716.035,very_long_string_value_86_that_should_overflow,True,C
87,87,1135.091,very_long_string_value_87_that_should_overflow,False,C
90,90,766.852,very_long_string_value_90_that_should_overflow,True,B
94,94,-1331.265,very_long_string_value_94_that_should_overflow,False,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
51,51,-700.927,very_long_string_value_51_that_should_overflow,True,B
58,58,-634.933,very_long_string_value_58_that_should_overflow,True,A
68,68,-1649.126,very_long_string_value_68_that_should_overflow,False,A
76,76,-468.655,very_long_string_value_76_that_should_overflow,False,C
80,80,-1204.332,very_long_string_value_80_that_should_overflow,False,B
86,86,2716.035,very_long_string_value_86_that_should_overflow,True,C
87,87,1135.091,very_long_string_value_87_that_should_overflow,False,C
90,90,766.852,very_long_string_value_90_that_should_overflow,True,B
94,94,-1331.265,very_long_string_value_94_that_should_overflow,False,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
51,51,-700.927,very_long_string_value_51_that_should_overflow,True,B
58,58,-634.933,very_long_string_value_58_that_should_overflow,True,A
68,68,-1649.126,very_long_string_value_68_that_should_overflow,False,A
76,76,-468.655,very_long_string_value_76_that_should_overflow,False,C
80,80,-1204.332,very_long_string_value_80_that_should_overflow,False,B
86,86,2716.035,very_long_string_value_86_that_should_overflow,True,C
87,87,1135.091,very_long_string_value_87_that_should_overflow,False,C
90,90,766.852,very_long_string_value_90_that_should_overflow,True,B
94,94,-1331.265,very_long_string_value_94_that_should_overflow,False,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
1,1,691.040,very_long_string_value_1_that_should_overflow,True,B
11,11,1042.079,very_long_string_value_11_that_should_overflow,True,B
15,15,2254.848,very_long_string_value_15_that_should_overflow,False,B
26,26,957.218,very_long_string_value_26_that_should_overflow,False,A
30,30,1101.117,very_long_string_value_30_that_should_overflow,False,C
52,52,2334.107,very_long_string_value_52_that_should_overflow,True,C
82,82,579.423,very_long_string_value_82_that_should_overflow,True,A
90,90,766.852,very_long_string_value_90_that_should_overflow,True,B
91,91,311.928,very_long_string_value_91_that_should_overflow,False,B
96,96,672.489,very_long_string_value_96_that_should_overflow,True,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
10,10,529.377,very_long_string_value_10_that_should_overflow,True,A
12,12,1028.772,very_long_string_value_12_that_should_overflow,False,C
20,20,344.757,very_long_string_value_20_that_should_overflow,True,B
38,38,-423.747,very_long_string_value_38_that_should_overflow,False,C
56,56,-612.692,very_long_string_value_56_that_should_overflow,False,C
58,58,-634.933,very_long_string_value_58_that_should_overflow,True,A
76,76,-468.655,very_long_string_value_76_that_should_overflow,False,C
78,78,-1511.919,very_long_string_value_78_that_should_overflow,False,B
90,90,766.852,very_long_string_value_90_that_should_overflow,True,B
98,98,-600.083,very_long_string_value_98_that_should_overflow,True,B

# Test 3: Filter Behavior
Test filtering with boolean masks from different sources (numpy, pandas, torch).

In [ ]:
# Test different sampling methods
dtt([df_mixed, df_mixed, df_mixed], n=7, how="sample", titles=["Sample", "Sample", "Sample"], seed=42)

dtt([df_mixed, df_mixed, df_mixed], n=7, how="head", titles=["Head", "Head", "Head"])

dtt([df_mixed, df_mixed, df_mixed], n=7, how="tail", titles=["Tail", "Tail", "Tail"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,-446.503,very_long_string_value_8_that_should_overflow,True,A
42,42,-125.955,very_long_string_value_42_that_should_overflow,True,A
62,62,-1210.847,very_long_string_value_62_that_should_overflow,False,A
73,73,-270.984,very_long_string_value_73_that_should_overflow,True,A
85,85,320.328,very_long_string_value_85_that_should_overflow,False,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
99,99,-554.202,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,-446.503,very_long_string_value_8_that_should_overflow,True,A
42,42,-125.955,very_long_string_value_42_that_should_overflow,True,A
62,62,-1210.847,very_long_string_value_62_that_should_overflow,False,A
73,73,-270.984,very_long_string_value_73_that_should_overflow,True,A
85,85,320.328,very_long_string_value_85_that_should_overflow,False,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
99,99,-554.202,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,-446.503,very_long_string_value_8_that_should_overflow,True,A
42,42,-125.955,very_long_string_value_42_that_should_overflow,True,A
62,62,-1210.847,very_long_string_value_62_that_should_overflow,False,A
73,73,-270.984,very_long_string_value_73_that_should_overflow,True,A
85,85,320.328,very_long_string_value_85_that_should_overflow,False,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
99,99,-554.202,very_long_string_value_99_that_should_overflow,False,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,-22.867,very_long_string_value_0_that_should_overflow,False,B
1,1,691.040,very_long_string_value_1_that_should_overflow,True,B
2,2,343.395,very_long_string_value_2_that_should_overflow,True,B
3,3,101.324,very_long_string_value_3_that_should_overflow,False,C
4,4,-1328.072,very_long_string_value_4_that_should_overflow,True,C
5,5,810.803,very_long_string_value_5_that_should_overflow,True,A
6,6,633.945,very_long_string_value_6_that_should_overflow,False,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,-22.867,very_long_string_value_0_that_should_overflow,False,B
1,1,691.040,very_long_string_value_1_that_should_overflow,True,B
2,2,343.395,very_long_string_value_2_that_should_overflow,True,B
3,3,101.324,very_long_string_value_3_that_should_overflow,False,C
4,4,-1328.072,very_long_string_value_4_that_should_overflow,True,C
5,5,810.803,very_long_string_value_5_that_should_overflow,True,A
6,6,633.945,very_long_string_value_6_that_should_overflow,False,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,-22.867,very_long_string_value_0_that_should_overflow,False,B
1,1,691.040,very_long_string_value_1_that_should_overflow,True,B
2,2,343.395,very_long_string_value_2_that_should_overflow,True,B
3,3,101.324,very_long_string_value_3_that_should_overflow,False,C
4,4,-1328.072,very_long_string_value_4_that_should_overflow,True,C
5,5,810.803,very_long_string_value_5_that_should_overflow,True,A
6,6,633.945,very_long_string_value_6_that_should_overflow,False,A

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-926.655,very_long_string_value_93_that_should_overflow,True,A
94,94,-1331.265,very_long_string_value_94_that_should_overflow,False,C
95,95,-277.656,very_long_string_value_95_that_should_overflow,False,C
96,96,672.489,very_long_string_value_96_that_should_overflow,True,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
98,98,-600.083,very_long_string_value_98_that_should_overflow,True,B
99,99,-554.202,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-926.655,very_long_string_value_93_that_should_overflow,True,A
94,94,-1331.265,very_long_string_value_94_that_should_overflow,False,C
95,95,-277.656,very_long_string_value_95_that_should_overflow,False,C
96,96,672.489,very_long_string_value_96_that_should_overflow,True,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
98,98,-600.083,very_long_string_value_98_that_should_overflow,True,B
99,99,-554.202,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-926.655,very_long_string_value_93_that_should_overflow,True,A
94,94,-1331.265,very_long_string_value_94_that_should_overflow,False,C
95,95,-277.656,very_long_string_value_95_that_should_overflow,False,C
96,96,672.489,very_long_string_value_96_that_should_overflow,True,C
97,97,-285.463,very_long_string_value_97_that_should_overflow,True,B
98,98,-600.083,very_long_string_value_98_that_should_overflow,True,B
99,99,-554.202,very_long_string_value_99_that_should_overflow,False,C

# Test 2: Sampling Methods (how parameter)
Test different sampling strategies: sample, head, tail.

In [ ]:
# Display multiple data types side-by-side
dtt([df_mixed, tensor_2d, np_2d, np_int], n=5, titles=["Mixed DF", "PyTorch Tensor", "NumPy 2D Float", "NumPy 2D Int"])

# Test 1: Basic Display with Dtypes
Test that datatypes are displayed below column headers for different input types.