In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from kret_studies import *
from kret_studies.notebook import *
from kret_studies.complex import *

logger = get_notebook_logger()

Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env.

INFO:datasets:JAX version 0.7.2 available.

In [3]:
DEVICE_TORCH_STR

'mps'

In [4]:
from VIS import dtt

In [5]:
# Create test data with various types
import pandas as pd
import numpy as np
import torch

# 1. Pandas DataFrame with mixed types
df_mixed = pd.DataFrame(
    {
        "int_col": np.arange(100),
        "float_col": np.random.randn(100) * 1000,
        "str_col": [f"very_long_string_value_{i}_that_should_overflow" for i in range(100)],
        "bool_col": np.random.choice([True, False], 100),
        "category": pd.Categorical(np.random.choice(["A", "B", "C"], 100)),
    }
)

# 2. PyTorch tensor
tensor_2d = torch.randn(50, 4, device="cpu") * 100

# 3. NumPy arrays
np_1d = np.random.randn(75) * 10
np_2d = np.random.randn(60, 3) * 50
np_int = np.random.randint(0, 1000, (80, 2))

print("Test data created successfully!")
print(f"DataFrame shape: {df_mixed.shape}")
print(f"Tensor shape: {tensor_2d.shape}")
print(f"NumPy 1D shape: {np_1d.shape}")
print(f"NumPy 2D shape: {np_2d.shape}")
print(f"NumPy int shape: {np_int.shape}")

Test data created successfully!
DataFrame shape: (100, 5)
Tensor shape: torch.Size([50, 4])
NumPy 1D shape: (75,)
NumPy 2D shape: (60, 3)
NumPy int shape: (80, 2)

# Summary of Tests

This notebook tests all major features of the `dtt()` function:

1. **Dtypes Display**: Verifies datatypes appear below column headers
2. **Sampling Methods**: Tests `how='sample'`, `'head'`, `'tail'`
3. **Filtering**: Tests boolean masks from numpy, pandas, and torch
4. **Rounding**: Tests `round_float` parameter
5. **Overflow Indicators**: Tests `max_col_width` with red gradient for truncated content
6. **Grid Layout**: Tests `cols_per_row` with independent widths per dataframe
7. **Edge Cases**: Tests 1D arrays, Series, small datasets, single columns
8. **Performance**: Ensures optimized rendering with large datasets

All tests should maintain:
- Individual dataframe widths (no width matching between rows)
- Single unified scrollbar for entire display
- Per-dataframe features (titles, colors, dtypes, filters)

# Test 1: Basic Display with Dtypes
Test that datatypes are displayed below column headers for different input types.

In [6]:
import time

# Create large datasets
large_df = pd.DataFrame({f"col_{i}": np.random.randn(10000) for i in range(50)})

large_tensor = torch.randn(5000, 30)
large_np = np.random.randn(8000, 20)

# Time the rendering
start = time.time()
dtt(
    [large_df, large_tensor, large_np],
    n=20,
    num_cols=1,
    round_float=3,
    titles=["Large DF (10k x 50)", "Large Tensor (5k x 30)", "Large NumPy (8k x 20)"],
)
elapsed = time.time() - start

print(f"\nRendering time: {elapsed:.3f} seconds")
print(f"Expected: < 1 second for optimized version")

Rendering time: 0.035 seconds
Expected: < 1 second for optimized version

# Test 2: Sampling Methods (how parameter)
Test different sampling strategies: sample, head, tail.

In [7]:
# Display multiple data types side-by-side
dtt([df_mixed, tensor_2d, np_2d, np_int], n=5, titles=["Mixed DF", "PyTorch Tensor", "NumPy 2D Float", "NumPy 2D Int"])

# Test 3: Filter Behavior
Test filtering with boolean masks from different sources (numpy, pandas, torch).

In [8]:
# Test different sampling methods
dtt([df_mixed, df_mixed, df_mixed], n=7, how="sample", titles=["Sample", "Sample", "Sample"], seed=42)

dtt([df_mixed, df_mixed, df_mixed], n=7, how="head", titles=["Head", "Head", "Head"])

dtt([df_mixed, df_mixed, df_mixed], n=7, how="tail", titles=["Tail", "Tail", "Tail"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,889.635,very_long_string_value_8_that_should_overflow,False,C
42,42,-111.194,very_long_string_value_42_that_should_overflow,False,A
62,62,2370.238,very_long_string_value_62_that_should_overflow,False,B
73,73,-1532.841,very_long_string_value_73_that_should_overflow,False,A
85,85,966.581,very_long_string_value_85_that_should_overflow,False,A
97,97,-527.275,very_long_string_value_97_that_should_overflow,True,A
99,99,-321.362,very_long_string_value_99_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,889.635,very_long_string_value_8_that_should_overflow,False,C
42,42,-111.194,very_long_string_value_42_that_should_overflow,False,A
62,62,2370.238,very_long_string_value_62_that_should_overflow,False,B
73,73,-1532.841,very_long_string_value_73_that_should_overflow,False,A
85,85,966.581,very_long_string_value_85_that_should_overflow,False,A
97,97,-527.275,very_long_string_value_97_that_should_overflow,True,A
99,99,-321.362,very_long_string_value_99_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,889.635,very_long_string_value_8_that_should_overflow,False,C
42,42,-111.194,very_long_string_value_42_that_should_overflow,False,A
62,62,2370.238,very_long_string_value_62_that_should_overflow,False,B
73,73,-1532.841,very_long_string_value_73_that_should_overflow,False,A
85,85,966.581,very_long_string_value_85_that_should_overflow,False,A
97,97,-527.275,very_long_string_value_97_that_should_overflow,True,A
99,99,-321.362,very_long_string_value_99_that_should_overflow,True,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,27.261,very_long_string_value_0_that_should_overflow,False,C
1,1,1306.660,very_long_string_value_1_that_should_overflow,False,A
2,2,-349.068,very_long_string_value_2_that_should_overflow,False,A
3,3,126.628,very_long_string_value_3_that_should_overflow,True,C
4,4,-334.088,very_long_string_value_4_that_should_overflow,False,B
5,5,-1496.621,very_long_string_value_5_that_should_overflow,False,B
6,6,342.012,very_long_string_value_6_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,27.261,very_long_string_value_0_that_should_overflow,False,C
1,1,1306.660,very_long_string_value_1_that_should_overflow,False,A
2,2,-349.068,very_long_string_value_2_that_should_overflow,False,A
3,3,126.628,very_long_string_value_3_that_should_overflow,True,C
4,4,-334.088,very_long_string_value_4_that_should_overflow,False,B
5,5,-1496.621,very_long_string_value_5_that_should_overflow,False,B
6,6,342.012,very_long_string_value_6_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,27.261,very_long_string_value_0_that_should_overflow,False,C
1,1,1306.660,very_long_string_value_1_that_should_overflow,False,A
2,2,-349.068,very_long_string_value_2_that_should_overflow,False,A
3,3,126.628,very_long_string_value_3_that_should_overflow,True,C
4,4,-334.088,very_long_string_value_4_that_should_overflow,False,B
5,5,-1496.621,very_long_string_value_5_that_should_overflow,False,B
6,6,342.012,very_long_string_value_6_that_should_overflow,True,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A
94,94,-460.588,very_long_string_value_94_that_should_overflow,True,C
95,95,1840.653,very_long_string_value_95_that_should_overflow,True,C
96,96,83.077,very_long_string_value_96_that_should_overflow,False,C
97,97,-527.275,very_long_string_value_97_that_should_overflow,True,A
98,98,-1501.005,very_long_string_value_98_that_should_overflow,False,C
99,99,-321.362,very_long_string_value_99_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A
94,94,-460.588,very_long_string_value_94_that_should_overflow,True,C
95,95,1840.653,very_long_string_value_95_that_should_overflow,True,C
96,96,83.077,very_long_string_value_96_that_should_overflow,False,C
97,97,-527.275,very_long_string_value_97_that_should_overflow,True,A
98,98,-1501.005,very_long_string_value_98_that_should_overflow,False,C
99,99,-321.362,very_long_string_value_99_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A
94,94,-460.588,very_long_string_value_94_that_should_overflow,True,C
95,95,1840.653,very_long_string_value_95_that_should_overflow,True,C
96,96,83.077,very_long_string_value_96_that_should_overflow,False,C
97,97,-527.275,very_long_string_value_97_that_should_overflow,True,A
98,98,-1501.005,very_long_string_value_98_that_should_overflow,False,C
99,99,-321.362,very_long_string_value_99_that_should_overflow,True,C

# Test 4: Rounding and Column Width (Overflow)
Test float rounding and max_col_width with overflow indicators.

In [9]:
# Test filtering with different mask types
np_filter = df_mixed["int_col"] > 50  # Boolean pandas Series
torch_filter = torch.tensor(df_mixed["float_col"].values > 0)  # Boolean torch tensor
array_filter = (df_mixed["int_col"] % 2 == 0).to_numpy()  # Boolean numpy array

dtt(
    [df_mixed, df_mixed, df_mixed], n=10, filter=np_filter, titles=["Pandas Filter (>50)", "Same Filter", "Same Filter"]
)

dtt([df_mixed], n=10, filter=torch_filter, titles=["Torch Filter (float>0)"])

dtt([df_mixed], n=10, filter=array_filter, titles=["NumPy Filter (even ints)"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
65,65,-75.741,very_long_string_value_65_that_should_overflow,True,B
67,67,521.303,very_long_string_value_67_that_should_overflow,False,C
74,74,1385.728,very_long_string_value_74_that_should_overflow,False,B
75,75,1660.363,very_long_string_value_75_that_should_overflow,False,C
79,79,274.758,very_long_string_value_79_that_should_overflow,True,C
80,80,-753.890,very_long_string_value_80_that_should_overflow,False,B
82,82,-1194.998,very_long_string_value_82_that_should_overflow,False,B
84,84,-457.031,very_long_string_value_84_that_should_overflow,False,A
90,90,1496.566,very_long_string_value_90_that_should_overflow,False,A
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
65,65,-75.741,very_long_string_value_65_that_should_overflow,True,B
67,67,521.303,very_long_string_value_67_that_should_overflow,False,C
74,74,1385.728,very_long_string_value_74_that_should_overflow,False,B
75,75,1660.363,very_long_string_value_75_that_should_overflow,False,C
79,79,274.758,very_long_string_value_79_that_should_overflow,True,C
80,80,-753.890,very_long_string_value_80_that_should_overflow,False,B
82,82,-1194.998,very_long_string_value_82_that_should_overflow,False,B
84,84,-457.031,very_long_string_value_84_that_should_overflow,False,A
90,90,1496.566,very_long_string_value_90_that_should_overflow,False,A
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
65,65,-75.741,very_long_string_value_65_that_should_overflow,True,B
67,67,521.303,very_long_string_value_67_that_should_overflow,False,C
74,74,1385.728,very_long_string_value_74_that_should_overflow,False,B
75,75,1660.363,very_long_string_value_75_that_should_overflow,False,C
79,79,274.758,very_long_string_value_79_that_should_overflow,True,C
80,80,-753.890,very_long_string_value_80_that_should_overflow,False,B
82,82,-1194.998,very_long_string_value_82_that_should_overflow,False,B
84,84,-457.031,very_long_string_value_84_that_should_overflow,False,A
90,90,1496.566,very_long_string_value_90_that_should_overflow,False,A
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
24,24,1063.021,very_long_string_value_24_that_should_overflow,True,C
27,27,559.914,very_long_string_value_27_that_should_overflow,False,C
48,48,445.847,very_long_string_value_48_that_should_overflow,False,B
57,57,1667.447,very_long_string_value_57_that_should_overflow,False,C
69,69,142.409,very_long_string_value_69_that_should_overflow,True,C
75,75,1660.363,very_long_string_value_75_that_should_overflow,False,C
79,79,274.758,very_long_string_value_79_that_should_overflow,True,C
87,87,675.264,very_long_string_value_87_that_should_overflow,False,B
93,93,85.819,very_long_string_value_93_that_should_overflow,False,A
95,95,1840.653,very_long_string_value_95_that_should_overflow,True,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,27.261,very_long_string_value_0_that_should_overflow,False,C
6,6,342.012,very_long_string_value_6_that_should_overflow,True,B
12,12,-1481.183,very_long_string_value_12_that_should_overflow,True,A
26,26,-2340.153,very_long_string_value_26_that_should_overflow,True,A
34,34,-1019.422,very_long_string_value_34_that_should_overflow,True,B
36,36,112.139,very_long_string_value_36_that_should_overflow,True,A
44,44,-422.287,very_long_string_value_44_that_should_overflow,True,B
48,48,445.847,very_long_string_value_48_that_should_overflow,False,B
62,62,2370.238,very_long_string_value_62_that_should_overflow,False,B
90,90,1496.566,very_long_string_value_90_that_should_overflow,False,A

# Test 5: cols_per_row Grid Layout
Test the new grid layout feature with different numbers of columns per row.

In [10]:
# Test rounding
dtt([df_mixed, df_mixed, df_mixed], n=5, round_float=0, titles=["No decimals", "No decimals", "No decimals"])

dtt([df_mixed, df_mixed], n=5, round_float=5, titles=["5 decimals", "5 decimals"])

# Test overflow with narrow max_col_width
dtt([df_mixed], n=5, max_col_width=80, titles=["Narrow columns (80px) - should show red overflow indicator"])

# Test overflow with very narrow width
dtt([df_mixed, tensor_2d], n=5, max_col_width=50, titles=["Very narrow (50px)", "Same width"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
29,29,-1068.0,very_long_string_value_29_that_should_overflow,True,C
44,44,-422.0,very_long_string_value_44_that_should_overflow,True,B
66,66,-175.0,very_long_string_value_66_that_should_overflow,True,A
80,80,-754.0,very_long_string_value_80_that_should_overflow,False,B
89,89,939.0,very_long_string_value_89_that_should_overflow,True,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
29,29,-1068.0,very_long_string_value_29_that_should_overflow,True,C
44,44,-422.0,very_long_string_value_44_that_should_overflow,True,B
66,66,-175.0,very_long_string_value_66_that_should_overflow,True,A
80,80,-754.0,very_long_string_value_80_that_should_overflow,False,B
89,89,939.0,very_long_string_value_89_that_should_overflow,True,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
29,29,-1068.0,very_long_string_value_29_that_should_overflow,True,C
44,44,-422.0,very_long_string_value_44_that_should_overflow,True,B
66,66,-175.0,very_long_string_value_66_that_should_overflow,True,A
80,80,-754.0,very_long_string_value_80_that_should_overflow,False,B
89,89,939.0,very_long_string_value_89_that_should_overflow,True,A

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
50,50,-903.75946,very_long_string_value_50_that_should_overflow,False,C
53,53,-193.94177,very_long_string_value_53_that_should_overflow,False,B
54,54,545.69807,very_long_string_value_54_that_should_overflow,False,C
64,64,-174.24089,very_long_string_value_64_that_should_overflow,False,A
77,77,-444.39195,very_long_string_value_77_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
50,50,-903.75946,very_long_string_value_50_that_should_overflow,False,C
53,53,-193.94177,very_long_string_value_53_that_should_overflow,False,B
54,54,545.69807,very_long_string_value_54_that_should_overflow,False,C
64,64,-174.24089,very_long_string_value_64_that_should_overflow,False,A
77,77,-444.39195,very_long_string_value_77_that_should_overflow,False,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
26,26,-2340.153,very_long_string_value_26_that_should_overflow,True,A
45,45,1206.434,very_long_string_value_45_that_should_overflow,True,C
46,46,-262.377,very_long_string_value_46_that_should_overflow,False,A
74,74,1385.728,very_long_string_value_74_that_should_overflow,False,B
77,77,-444.392,very_long_string_value_77_that_should_overflow,False,C

# Test 6: Combined Features
Test multiple features together: filtering + rounding + grid layout + overflow.

In [11]:
# Test grid layout: 2 columns per row
dtt(
    [df_mixed, tensor_2d, np_2d, np_int, np_1d],
    n=5,
    num_cols=2,
    titles=["Row 0, Col 0", "Row 0, Col 1", "Row 1, Col 0", "Row 1, Col 1", "Row 2, Col 0"],
)

# Test grid layout: 3 columns per row
dtt([df_mixed, tensor_2d, np_2d, np_int, np_1d, df_mixed], n=5, num_cols=3, titles=["A", "B", "C", "D", "E", "F"])

# Test that widths are independent between rows
# Create a very wide dataframe for first position
df_wide = pd.DataFrame({f"col_{i}": np.random.randn(20) for i in range(15)})

df_narrow = pd.DataFrame({"x": np.random.randn(20), "y": np.random.randn(20)})

dtt(
    [df_wide, df_narrow, df_narrow, df_wide],
    n=5,
    num_cols=2,
    round_float=2,
    titles=["Wide (15 cols)", "Narrow (2 cols)", "Narrow (2 cols)", "Wide (15 cols)"],
)

# Test 7: Edge Cases
Test edge cases like empty filters, single column, 1D arrays, etc.

In [13]:
# Complex test: filter + round + grid + overflow + titles
filter_mask = df_mixed["int_col"] > 25

# dtt(
#     [df_mixed, tensor_2d, np_2d, df_mixed, np_int, tensor_2d],
#     n=8,
#     how="sample",
#     filter=filter_mask,
#     num_cols=3,
#     round_float=2,
#     max_col_width=100,
#     seed=123,
#     titles=["Filtered DF", "Tensor", "NumPy", "Filtered DF 2", "Ints", "Tensor 2"],
# )

# Test 8: Performance Test
Test performance with larger datasets to ensure optimization is working.

In [14]:
# Test 1D arrays (should convert to single column DataFrame)
dtt([np_1d, np_1d], n=10, titles=["1D NumPy", "1D NumPy Again"])

# Test single column DataFrame
single_col = pd.DataFrame({"only_col": np.random.randn(50)})
dtt([single_col, np_1d, single_col], n=5, titles=["Single Col DF", "1D Array", "Single Col DF"])

# Test pandas Series (should convert to DataFrame)
series = pd.Series(np.random.randn(40), name="my_series")
dtt([series, series], n=7, titles=["Series 1", "Series 2"])

# Test very small n
dtt([df_mixed], n=1, titles=["Only 1 row"])

# Test n larger than data
small_df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
dtt([small_df], n=10, titles=["n=10 but only 3 rows exist"])

,0
,float64
2,-6.317
3,-1.604
19,-19.515
33,-13.451
42,5.005
45,-4.044
46,-5.121
53,-5.723
56,-5.105
61,-7.515
,0
,float64
2,-6.317
3,-1.604
19,-19.515
33,-13.451
42,5.005
45,-4.044
46,-5.121
53,-5.723
56,-5.105
61,-7.515

,only_col
,float64
17,0.227
21,-0.470
27,-1.511
35,1.023
42,0.261
,0
,float64
26,9.320
32,1.305
41,9.290
54,4.733
63,11.067
,only_col
,float64
17,0.227
21,-0.470
27,-1.511
35,1.023
42,0.261

,my_series
,float64
6,0.191
16,-0.416
20,-0.014
26,-0.794
28,0.881
29,1.286
35,1.089
,my_series
,float64
6,0.191
16,-0.416
20,-0.014
26,-0.794
28,0.881
29,1.286
35,1.089

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
32,32,-717.944,very_long_string_value_32_that_should_overflow,False,B

,a,b
,int64,int64
0,1,4
1,2,5
2,3,6