In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from kret_studies import *
from kret_studies.notebook import *
from kret_studies.complex import *

logger = get_notebook_logger()

Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env.

INFO:datasets:JAX version 0.7.2 available.

In [3]:
from VIS import dtt

In [4]:
# Create test data with various types
import pandas as pd
import numpy as np
import torch

# 1. Pandas DataFrame with mixed types
df_mixed = pd.DataFrame(
    {
        "int_col": np.arange(100),
        "float_col": np.random.randn(100) * 1000,
        "str_col": [f"very_long_string_value_{i}_that_should_overflow" for i in range(100)],
        "bool_col": np.random.choice([True, False], 100),
        "category": pd.Categorical(np.random.choice(["A", "B", "C"], 100)),
    }
)

# 2. PyTorch tensor
tensor_2d = torch.randn(50, 4, device="cpu") * 100

# 3. NumPy arrays
np_1d = np.random.randn(75) * 10
np_2d = np.random.randn(60, 3) * 50
np_int = np.random.randint(0, 1000, (80, 2))

print("Test data created successfully!")
print(f"DataFrame shape: {df_mixed.shape}")
print(f"Tensor shape: {tensor_2d.shape}")
print(f"NumPy 1D shape: {np_1d.shape}")
print(f"NumPy 2D shape: {np_2d.shape}")
print(f"NumPy int shape: {np_int.shape}")

Test data created successfully!
DataFrame shape: (100, 5)
Tensor shape: torch.Size([50, 4])
NumPy 1D shape: (75,)
NumPy 2D shape: (60, 3)
NumPy int shape: (80, 2)

# Summary of Tests

This notebook tests all major features of the `dtt()` function:

1. **Dtypes Display**: Verifies datatypes appear below column headers
2. **Sampling Methods**: Tests `how='sample'`, `'head'`, `'tail'`
3. **Filtering**: Tests boolean masks from numpy, pandas, and torch
4. **Rounding**: Tests `round_float` parameter
5. **Overflow Indicators**: Tests `max_col_width` with red gradient for truncated content
6. **Grid Layout**: Tests `cols_per_row` with independent widths per dataframe
7. **Edge Cases**: Tests 1D arrays, Series, small datasets, single columns
8. **Performance**: Ensures optimized rendering with large datasets

All tests should maintain:
- Individual dataframe widths (no width matching between rows)
- Single unified scrollbar for entire display
- Per-dataframe features (titles, colors, dtypes, filters)

# Test 1: Basic Display with Dtypes
Test that datatypes are displayed below column headers for different input types.

In [ ]:
import time

# Create large datasets
large_df = pd.DataFrame({f"col_{i}": np.random.randn(10000) for i in range(50)})

large_tensor = torch.randn(5000, 30)
large_np = np.random.randn(8000, 20)

# Time the rendering
start = time.time()
dtt(
    [large_df, large_tensor, large_np],
    n=20,
    num_cols=1,
    titles=["Large DF (10k x 50)", "Large Tensor (5k x 30)", "Large NumPy (8k x 20)"],
)
elapsed = time.time() - start

print(f"\nRendering time: {elapsed:.3f} seconds")
print(f"Expected: < 1 second for optimized version")

Rendering time: 0.034 seconds
Expected: < 1 second for optimized version

# Test 2: Sampling Methods (how parameter)
Test different sampling strategies: sample, head, tail.

In [6]:
# Display multiple data types side-by-side
dtt([df_mixed, tensor_2d, np_2d, np_int], n=5, titles=["Mixed DF", "PyTorch Tensor", "NumPy 2D Float", "NumPy 2D Int"])

# Test 3: Filter Behavior
Test filtering with boolean masks from different sources (numpy, pandas, torch).

In [7]:
# Test different sampling methods
dtt([df_mixed, df_mixed, df_mixed], n=7, how="sample", titles=["Sample", "Sample", "Sample"], seed=42)

dtt([df_mixed, df_mixed, df_mixed], n=7, how="head", titles=["Head", "Head", "Head"])

dtt([df_mixed, df_mixed, df_mixed], n=7, how="tail", titles=["Tail", "Tail", "Tail"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,431.529,very_long_string_value_8_that_should_overflow,True,B
42,42,547.294,very_long_string_value_42_that_should_overflow,True,C
62,62,-1145.696,very_long_string_value_62_that_should_overflow,True,C
73,73,248.945,very_long_string_value_73_that_should_overflow,True,B
85,85,-436.073,very_long_string_value_85_that_should_overflow,False,C
97,97,-401.971,very_long_string_value_97_that_should_overflow,True,A
99,99,-815.386,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,431.529,very_long_string_value_8_that_should_overflow,True,B
42,42,547.294,very_long_string_value_42_that_should_overflow,True,C
62,62,-1145.696,very_long_string_value_62_that_should_overflow,True,C
73,73,248.945,very_long_string_value_73_that_should_overflow,True,B
85,85,-436.073,very_long_string_value_85_that_should_overflow,False,C
97,97,-401.971,very_long_string_value_97_that_should_overflow,True,A
99,99,-815.386,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,431.529,very_long_string_value_8_that_should_overflow,True,B
42,42,547.294,very_long_string_value_42_that_should_overflow,True,C
62,62,-1145.696,very_long_string_value_62_that_should_overflow,True,C
73,73,248.945,very_long_string_value_73_that_should_overflow,True,B
85,85,-436.073,very_long_string_value_85_that_should_overflow,False,C
97,97,-401.971,very_long_string_value_97_that_should_overflow,True,A
99,99,-815.386,very_long_string_value_99_that_should_overflow,False,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,66.556,very_long_string_value_0_that_should_overflow,False,A
1,1,1986.777,very_long_string_value_1_that_should_overflow,True,C
2,2,1737.559,very_long_string_value_2_that_should_overflow,False,A
3,3,488.934,very_long_string_value_3_that_should_overflow,True,C
4,4,208.738,very_long_string_value_4_that_should_overflow,True,C
5,5,443.816,very_long_string_value_5_that_should_overflow,True,B
6,6,613.316,very_long_string_value_6_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,66.556,very_long_string_value_0_that_should_overflow,False,A
1,1,1986.777,very_long_string_value_1_that_should_overflow,True,C
2,2,1737.559,very_long_string_value_2_that_should_overflow,False,A
3,3,488.934,very_long_string_value_3_that_should_overflow,True,C
4,4,208.738,very_long_string_value_4_that_should_overflow,True,C
5,5,443.816,very_long_string_value_5_that_should_overflow,True,B
6,6,613.316,very_long_string_value_6_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,66.556,very_long_string_value_0_that_should_overflow,False,A
1,1,1986.777,very_long_string_value_1_that_should_overflow,True,C
2,2,1737.559,very_long_string_value_2_that_should_overflow,False,A
3,3,488.934,very_long_string_value_3_that_should_overflow,True,C
4,4,208.738,very_long_string_value_4_that_should_overflow,True,C
5,5,443.816,very_long_string_value_5_that_should_overflow,True,B
6,6,613.316,very_long_string_value_6_that_should_overflow,True,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-764.979,very_long_string_value_93_that_should_overflow,True,A
94,94,-1079.328,very_long_string_value_94_that_should_overflow,False,A
95,95,736.927,very_long_string_value_95_that_should_overflow,False,C
96,96,1137.206,very_long_string_value_96_that_should_overflow,True,C
97,97,-401.971,very_long_string_value_97_that_should_overflow,True,A
98,98,-180.745,very_long_string_value_98_that_should_overflow,False,A
99,99,-815.386,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-764.979,very_long_string_value_93_that_should_overflow,True,A
94,94,-1079.328,very_long_string_value_94_that_should_overflow,False,A
95,95,736.927,very_long_string_value_95_that_should_overflow,False,C
96,96,1137.206,very_long_string_value_96_that_should_overflow,True,C
97,97,-401.971,very_long_string_value_97_that_should_overflow,True,A
98,98,-180.745,very_long_string_value_98_that_should_overflow,False,A
99,99,-815.386,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-764.979,very_long_string_value_93_that_should_overflow,True,A
94,94,-1079.328,very_long_string_value_94_that_should_overflow,False,A
95,95,736.927,very_long_string_value_95_that_should_overflow,False,C
96,96,1137.206,very_long_string_value_96_that_should_overflow,True,C
97,97,-401.971,very_long_string_value_97_that_should_overflow,True,A
98,98,-180.745,very_long_string_value_98_that_should_overflow,False,A
99,99,-815.386,very_long_string_value_99_that_should_overflow,False,C

# Test 4: Rounding and Column Width (Overflow)
Test float rounding and max_col_width with overflow indicators.

In [8]:
# Test filtering with different mask types
np_filter = df_mixed["int_col"] > 50  # Boolean pandas Series
torch_filter = torch.tensor(df_mixed["float_col"].values > 0)  # Boolean torch tensor
array_filter = (df_mixed["int_col"] % 2 == 0).to_numpy()  # Boolean numpy array

dtt(
    [df_mixed, df_mixed, df_mixed], n=10, filter=np_filter, titles=["Pandas Filter (>50)", "Same Filter", "Same Filter"]
)

dtt([df_mixed], n=10, filter=torch_filter, titles=["Torch Filter (float>0)"])

dtt([df_mixed], n=10, filter=array_filter, titles=["NumPy Filter (even ints)"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
51,51,-642.807,very_long_string_value_51_that_should_overflow,True,B
54,54,1477.063,very_long_string_value_54_that_should_overflow,False,B
56,56,81.991,very_long_string_value_56_that_should_overflow,True,A
62,62,-1145.696,very_long_string_value_62_that_should_overflow,True,C
63,63,487.291,very_long_string_value_63_that_should_overflow,False,A
83,83,1115.347,very_long_string_value_83_that_should_overflow,False,A
87,87,-1061.460,very_long_string_value_87_that_should_overflow,True,C
90,90,639.192,very_long_string_value_90_that_should_overflow,False,B
92,92,215.791,very_long_string_value_92_that_should_overflow,True,A
94,94,-1079.328,very_long_string_value_94_that_should_overflow,False,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
51,51,-642.807,very_long_string_value_51_that_should_overflow,True,B
54,54,1477.063,very_long_string_value_54_that_should_overflow,False,B
56,56,81.991,very_long_string_value_56_that_should_overflow,True,A
62,62,-1145.696,very_long_string_value_62_that_should_overflow,True,C
63,63,487.291,very_long_string_value_63_that_should_overflow,False,A
83,83,1115.347,very_long_string_value_83_that_should_overflow,False,A
87,87,-1061.460,very_long_string_value_87_that_should_overflow,True,C
90,90,639.192,very_long_string_value_90_that_should_overflow,False,B
92,92,215.791,very_long_string_value_92_that_should_overflow,True,A
94,94,-1079.328,very_long_string_value_94_that_should_overflow,False,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
51,51,-642.807,very_long_string_value_51_that_should_overflow,True,B
54,54,1477.063,very_long_string_value_54_that_should_overflow,False,B
56,56,81.991,very_long_string_value_56_that_should_overflow,True,A
62,62,-1145.696,very_long_string_value_62_that_should_overflow,True,C
63,63,487.291,very_long_string_value_63_that_should_overflow,False,A
83,83,1115.347,very_long_string_value_83_that_should_overflow,False,A
87,87,-1061.460,very_long_string_value_87_that_should_overflow,True,C
90,90,639.192,very_long_string_value_90_that_should_overflow,False,B
92,92,215.791,very_long_string_value_92_that_should_overflow,True,A
94,94,-1079.328,very_long_string_value_94_that_should_overflow,False,A

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
4,4,208.738,very_long_string_value_4_that_should_overflow,True,C
5,5,443.816,very_long_string_value_5_that_should_overflow,True,B
8,8,431.529,very_long_string_value_8_that_should_overflow,True,B
10,10,193.113,very_long_string_value_10_that_should_overflow,True,A
16,16,1612.302,very_long_string_value_16_that_should_overflow,False,C
21,21,377.392,very_long_string_value_21_that_should_overflow,True,A
24,24,546.281,very_long_string_value_24_that_should_overflow,True,A
39,39,1728.080,very_long_string_value_39_that_should_overflow,True,A
40,40,1295.159,very_long_string_value_40_that_should_overflow,True,B
72,72,72.768,very_long_string_value_72_that_should_overflow,True,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
2,2,1737.559,very_long_string_value_2_that_should_overflow,False,A
8,8,431.529,very_long_string_value_8_that_should_overflow,True,B
26,26,359.189,very_long_string_value_26_that_should_overflow,True,B
36,36,-1379.135,very_long_string_value_36_that_should_overflow,True,C
48,48,-380.095,very_long_string_value_48_that_should_overflow,False,A
56,56,81.991,very_long_string_value_56_that_should_overflow,True,A
64,64,-52.144,very_long_string_value_64_that_should_overflow,True,B
72,72,72.768,very_long_string_value_72_that_should_overflow,True,B
84,84,-907.617,very_long_string_value_84_that_should_overflow,True,A
90,90,639.192,very_long_string_value_90_that_should_overflow,False,B

# Test 5: cols_per_row Grid Layout
Test the new grid layout feature with different numbers of columns per row.

In [ ]:
# Test rounding
dtt(
    [df_mixed, df_mixed, df_mixed],
    df_to_html_kwargs={"float_format": "{:.0f}".format},
    n=5,
    titles=["No decimals", "No decimals", "No decimals"],
)

dtt([df_mixed, df_mixed], df_to_html_kwargs={"float_format": "{:.2f}".format}, n=5, titles=["2 decimals", "2 decimals"])

# Test overflow with narrow max_col_width
dtt([df_mixed], n=5, max_col_width=80, titles=["Narrow columns (80px) - should show red overflow indicator"])

# Test overflow with very narrow width
dtt([df_mixed, tensor_2d], n=5, max_col_width=50, titles=["Very narrow (50px)", "Same width"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
19,19,-152.0,very_long_string_value_19_that_should_overflow,False,B
54,54,1477.0,very_long_string_value_54_that_should_overflow,False,B
67,67,1523.0,very_long_string_value_67_that_should_overflow,True,B
94,94,-1079.0,very_long_string_value_94_that_should_overflow,False,A
96,96,1137.0,very_long_string_value_96_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
19,19,-152.0,very_long_string_value_19_that_should_overflow,False,B
54,54,1477.0,very_long_string_value_54_that_should_overflow,False,B
67,67,1523.0,very_long_string_value_67_that_should_overflow,True,B
94,94,-1079.0,very_long_string_value_94_that_should_overflow,False,A
96,96,1137.0,very_long_string_value_96_that_should_overflow,True,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
19,19,-152.0,very_long_string_value_19_that_should_overflow,False,B
54,54,1477.0,very_long_string_value_54_that_should_overflow,False,B
67,67,1523.0,very_long_string_value_67_that_should_overflow,True,B
94,94,-1079.0,very_long_string_value_94_that_should_overflow,False,A
96,96,1137.0,very_long_string_value_96_that_should_overflow,True,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
32,32,587.78048,very_long_string_value_32_that_should_overflow,True,A
40,40,1295.15915,very_long_string_value_40_that_should_overflow,True,B
48,48,-380.09544,very_long_string_value_48_that_should_overflow,False,A
73,73,248.94495,very_long_string_value_73_that_should_overflow,True,B
90,90,639.19209,very_long_string_value_90_that_should_overflow,False,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
32,32,587.78048,very_long_string_value_32_that_should_overflow,True,A
40,40,1295.15915,very_long_string_value_40_that_should_overflow,True,B
48,48,-380.09544,very_long_string_value_48_that_should_overflow,False,A
73,73,248.94495,very_long_string_value_73_that_should_overflow,True,B
90,90,639.19209,very_long_string_value_90_that_should_overflow,False,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
26,26,359.189,very_long_string_value_26_that_should_overflow,True,B
43,43,-686.316,very_long_string_value_43_that_should_overflow,True,B
49,49,-469.382,very_long_string_value_49_that_should_overflow,True,C
66,66,-1641.296,very_long_string_value_66_that_should_overflow,True,B
85,85,-436.073,very_long_string_value_85_that_should_overflow,False,C

# Test 6: Combined Features
Test multiple features together: filtering + rounding + grid layout + overflow.

In [ ]:
# Test grid layout: 2 columns per row
dtt(
    [df_mixed, tensor_2d, np_2d, np_int, np_1d],
    n=5,
    num_cols=2,
    titles=["Row 0, Col 0", "Row 0, Col 1", "Row 1, Col 0", "Row 1, Col 1", "Row 2, Col 0"],
)

# Test grid layout: 3 columns per row
dtt([df_mixed, tensor_2d, np_2d, np_int, np_1d, df_mixed], n=5, num_cols=3, titles=["A", "B", "C", "D", "E", "F"])

# Test that widths are independent between rows
# Create a very wide dataframe for first position
df_wide = pd.DataFrame({f"col_{i}": np.random.randn(20) for i in range(15)})

df_narrow = pd.DataFrame({"x": np.random.randn(20), "y": np.random.randn(20)})

dtt(
    [df_wide, df_narrow, df_narrow, df_wide],
    n=5,
    num_cols=2,
    df_to_html_kwargs={"float_format": "{:.2f}".format},
    titles=["Wide (15 cols)", "Narrow (2 cols)", "Narrow (2 cols)", "Wide (15 cols)"],
)

# Test 7: Edge Cases
Test edge cases like empty filters, single column, 1D arrays, etc.

In [11]:
# Complex test: filter + round + grid + overflow + titles
filter_mask = df_mixed["int_col"] > 25

# dtt(
#     [df_mixed, tensor_2d, np_2d, df_mixed, np_int, tensor_2d],
#     n=8,
#     how="sample",
#     filter=filter_mask,
#     num_cols=3,
#     round_float=2,
#     max_col_width=100,
#     seed=123,
#     titles=["Filtered DF", "Tensor", "NumPy", "Filtered DF 2", "Ints", "Tensor 2"],
# )

# Test 8: Performance Test
Test performance with larger datasets to ensure optimization is working.

In [12]:
# Test 1D arrays (should convert to single column DataFrame)
dtt([np_1d, np_1d], n=10, titles=["1D NumPy", "1D NumPy Again"])

# Test single column DataFrame
single_col = pd.DataFrame({"only_col": np.random.randn(50)})
dtt([single_col, np_1d, single_col], n=5, titles=["Single Col DF", "1D Array", "Single Col DF"])

# Test pandas Series (should convert to DataFrame)
series = pd.Series(np.random.randn(40), name="my_series")
dtt([series, series], n=7, titles=["Series 1", "Series 2"])

# Test very small n
dtt([df_mixed], n=1, titles=["Only 1 row"])

# Test n larger than data
small_df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
dtt([small_df], n=10, titles=["n=10 but only 3 rows exist"])

,0
,float64
0,2.492
3,-20.682
9,-5.420
25,-14.785
30,1.804
33,15.921
38,2.889
40,0.688
43,-4.171
67,1.572
,0
,float64
0,2.492
3,-20.682
9,-5.420
25,-14.785
30,1.804
33,15.921
38,2.889
40,0.688
43,-4.171
67,1.572

,only_col
,float64
12,0.983
16,-0.436
27,-0.469
34,-0.827
44,-0.149
,0
,float64
19,9.562
25,-14.785
41,-14.281
51,12.979
68,-12.574
,only_col
,float64
12,0.983
16,-0.436
27,-0.469
34,-0.827
44,-0.149

,my_series
,float64
5,1.689
16,-1.660
18,-0.420
19,-0.498
21,-0.480
29,0.796
38,0.180
,my_series
,float64
5,1.689
16,-1.660
18,-0.420
19,-0.498
21,-0.480
29,0.796
38,0.180

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
22,22,79.877,very_long_string_value_22_that_should_overflow,True,B

,a,b
,int64,int64
0,1,4
1,2,5
2,3,6