In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from kret_studies import *
from kret_studies.notebook import *
from kret_studies.complex import *

logger = get_notebook_logger()

Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env.

INFO:datasets:JAX version 0.7.2 available.

In [3]:
from VIS import dtt

In [4]:
# Create test data with various types
import pandas as pd
import numpy as np
import torch

# 1. Pandas DataFrame with mixed types
df_mixed = pd.DataFrame(
    {
        "int_col": np.arange(100),
        "float_col": np.random.randn(100) * 1000,
        "str_col": [f"very_long_string_value_{i}_that_should_overflow" for i in range(100)],
        "bool_col": np.random.choice([True, False], 100),
        "category": pd.Categorical(np.random.choice(["A", "B", "C"], 100)),
    }
)

# 2. PyTorch tensor
tensor_2d = torch.randn(50, 4, device="cpu") * 100

# 3. NumPy arrays
np_1d = np.random.randn(75) * 10
np_2d = np.random.randn(60, 3) * 50
np_int = np.random.randint(0, 1000, (80, 2))

print("Test data created successfully!")
print(f"DataFrame shape: {df_mixed.shape}")
print(f"Tensor shape: {tensor_2d.shape}")
print(f"NumPy 1D shape: {np_1d.shape}")
print(f"NumPy 2D shape: {np_2d.shape}")
print(f"NumPy int shape: {np_int.shape}")

Test data created successfully!
DataFrame shape: (100, 5)
Tensor shape: torch.Size([50, 4])
NumPy 1D shape: (75,)
NumPy 2D shape: (60, 3)
NumPy int shape: (80, 2)

# Summary of Tests

This notebook tests all major features of the `dtt()` function:

1. **Dtypes Display**: Verifies datatypes appear below column headers
2. **Sampling Methods**: Tests `how='sample'`, `'head'`, `'tail'`
3. **Filtering**: Tests boolean masks from numpy, pandas, and torch
4. **Rounding**: Tests `round_float` parameter
5. **Overflow Indicators**: Tests `max_col_width` with red gradient for truncated content
6. **Grid Layout**: Tests `cols_per_row` with independent widths per dataframe
7. **Edge Cases**: Tests 1D arrays, Series, small datasets, single columns
8. **Performance**: Ensures optimized rendering with large datasets

All tests should maintain:
- Individual dataframe widths (no width matching between rows)
- Single unified scrollbar for entire display
- Per-dataframe features (titles, colors, dtypes, filters)

# Test 1: Basic Display with Dtypes
Test that datatypes are displayed below column headers for different input types.

In [5]:
import time

# Create large datasets
large_df = pd.DataFrame({f"col_{i}": np.random.randn(10000) for i in range(50)})

large_tensor = torch.randn(5000, 30)
large_np = np.random.randn(8000, 20)

# Time the rendering
start = time.time()
dtt(
    [large_df, large_tensor, large_np],
    n=20,
    num_cols=1,
    titles=["Large DF (10k x 50)", "Large Tensor (5k x 30)", "Large NumPy (8k x 20)"],
)
elapsed = time.time() - start

print(f"\nRendering time: {elapsed:.3f} seconds")
print(f"Expected: < 1 second for optimized version")

Rendering time: 0.022 seconds
Expected: < 1 second for optimized version

# Test 2: Sampling Methods (how parameter)
Test different sampling strategies: sample, head, tail.

In [6]:
# Display multiple data types side-by-side
dtt([df_mixed, tensor_2d, np_2d, np_int], n=5, titles=["Mixed DF", "PyTorch Tensor", "NumPy 2D Float", "NumPy 2D Int"])

# Test 3: Filter Behavior
Test filtering with boolean masks from different sources (numpy, pandas, torch).

In [7]:
# Test different sampling methods
dtt([df_mixed, df_mixed, df_mixed], n=7, how="sample", titles=["Sample", "Sample", "Sample"], seed=42)

dtt([df_mixed, df_mixed, df_mixed], n=7, how="head", titles=["Head", "Head", "Head"])

dtt([df_mixed, df_mixed, df_mixed], n=7, how="tail", titles=["Tail", "Tail", "Tail"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,42.932174,very_long_string_value_8_that_should_overflow,False,C
42,42,201.341740,very_long_string_value_42_that_should_overflow,True,B
62,62,-315.181306,very_long_string_value_62_that_should_overflow,False,B
73,73,-1613.440300,very_long_string_value_73_that_should_overflow,False,B
85,85,-471.070813,very_long_string_value_85_that_should_overflow,True,C
97,97,373.552990,very_long_string_value_97_that_should_overflow,False,C
99,99,408.019831,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,42.932174,very_long_string_value_8_that_should_overflow,False,C
42,42,201.341740,very_long_string_value_42_that_should_overflow,True,B
62,62,-315.181306,very_long_string_value_62_that_should_overflow,False,B
73,73,-1613.440300,very_long_string_value_73_that_should_overflow,False,B
85,85,-471.070813,very_long_string_value_85_that_should_overflow,True,C
97,97,373.552990,very_long_string_value_97_that_should_overflow,False,C
99,99,408.019831,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,42.932174,very_long_string_value_8_that_should_overflow,False,C
42,42,201.341740,very_long_string_value_42_that_should_overflow,True,B
62,62,-315.181306,very_long_string_value_62_that_should_overflow,False,B
73,73,-1613.440300,very_long_string_value_73_that_should_overflow,False,B
85,85,-471.070813,very_long_string_value_85_that_should_overflow,True,C
97,97,373.552990,very_long_string_value_97_that_should_overflow,False,C
99,99,408.019831,very_long_string_value_99_that_should_overflow,False,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,394.037251,very_long_string_value_0_that_should_overflow,True,A
1,1,674.485483,very_long_string_value_1_that_should_overflow,True,A
2,2,-2140.627006,very_long_string_value_2_that_should_overflow,True,C
3,3,-756.706055,very_long_string_value_3_that_should_overflow,False,B
4,4,-339.641151,very_long_string_value_4_that_should_overflow,True,A
5,5,9.589819,very_long_string_value_5_that_should_overflow,True,A
6,6,1029.708257,very_long_string_value_6_that_should_overflow,False,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,394.037251,very_long_string_value_0_that_should_overflow,True,A
1,1,674.485483,very_long_string_value_1_that_should_overflow,True,A
2,2,-2140.627006,very_long_string_value_2_that_should_overflow,True,C
3,3,-756.706055,very_long_string_value_3_that_should_overflow,False,B
4,4,-339.641151,very_long_string_value_4_that_should_overflow,True,A
5,5,9.589819,very_long_string_value_5_that_should_overflow,True,A
6,6,1029.708257,very_long_string_value_6_that_should_overflow,False,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
0,0,394.037251,very_long_string_value_0_that_should_overflow,True,A
1,1,674.485483,very_long_string_value_1_that_should_overflow,True,A
2,2,-2140.627006,very_long_string_value_2_that_should_overflow,True,C
3,3,-756.706055,very_long_string_value_3_that_should_overflow,False,B
4,4,-339.641151,very_long_string_value_4_that_should_overflow,True,A
5,5,9.589819,very_long_string_value_5_that_should_overflow,True,A
6,6,1029.708257,very_long_string_value_6_that_should_overflow,False,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-2152.588713,very_long_string_value_93_that_should_overflow,True,B
94,94,-170.884546,very_long_string_value_94_that_should_overflow,True,C
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C
96,96,409.311766,very_long_string_value_96_that_should_overflow,True,B
97,97,373.552990,very_long_string_value_97_that_should_overflow,False,C
98,98,682.007557,very_long_string_value_98_that_should_overflow,True,C
99,99,408.019831,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-2152.588713,very_long_string_value_93_that_should_overflow,True,B
94,94,-170.884546,very_long_string_value_94_that_should_overflow,True,C
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C
96,96,409.311766,very_long_string_value_96_that_should_overflow,True,B
97,97,373.552990,very_long_string_value_97_that_should_overflow,False,C
98,98,682.007557,very_long_string_value_98_that_should_overflow,True,C
99,99,408.019831,very_long_string_value_99_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
93,93,-2152.588713,very_long_string_value_93_that_should_overflow,True,B
94,94,-170.884546,very_long_string_value_94_that_should_overflow,True,C
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C
96,96,409.311766,very_long_string_value_96_that_should_overflow,True,B
97,97,373.552990,very_long_string_value_97_that_should_overflow,False,C
98,98,682.007557,very_long_string_value_98_that_should_overflow,True,C
99,99,408.019831,very_long_string_value_99_that_should_overflow,False,C

# Test 4: Rounding and Column Width (Overflow)
Test float rounding and max_col_width with overflow indicators.

In [8]:
# Test filtering with different mask types
np_filter = df_mixed["int_col"] > 50  # Boolean pandas Series
torch_filter = torch.tensor(df_mixed["float_col"].values > 0)  # Boolean torch tensor
array_filter = (df_mixed["int_col"] % 2 == 0).to_numpy()  # Boolean numpy array

dtt(
    [df_mixed, df_mixed, df_mixed], n=10, filter=np_filter, titles=["Pandas Filter (>50)", "Same Filter", "Same Filter"]
)

dtt([df_mixed], n=10, filter=torch_filter, titles=["Torch Filter (float>0)"])

dtt([df_mixed], n=10, filter=array_filter, titles=["NumPy Filter (even ints)"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
55,55,713.752270,very_long_string_value_55_that_should_overflow,False,A
59,59,-1991.704060,very_long_string_value_59_that_should_overflow,True,A
63,63,-832.381604,very_long_string_value_63_that_should_overflow,True,C
65,65,-23.291358,very_long_string_value_65_that_should_overflow,False,C
68,68,-50.472211,very_long_string_value_68_that_should_overflow,True,A
70,70,-1806.410858,very_long_string_value_70_that_should_overflow,False,B
77,77,320.908840,very_long_string_value_77_that_should_overflow,True,B
80,80,572.551048,very_long_string_value_80_that_should_overflow,False,C
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C
96,96,409.311766,very_long_string_value_96_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
55,55,713.752270,very_long_string_value_55_that_should_overflow,False,A
59,59,-1991.704060,very_long_string_value_59_that_should_overflow,True,A
63,63,-832.381604,very_long_string_value_63_that_should_overflow,True,C
65,65,-23.291358,very_long_string_value_65_that_should_overflow,False,C
68,68,-50.472211,very_long_string_value_68_that_should_overflow,True,A
70,70,-1806.410858,very_long_string_value_70_that_should_overflow,False,B
77,77,320.908840,very_long_string_value_77_that_should_overflow,True,B
80,80,572.551048,very_long_string_value_80_that_should_overflow,False,C
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C
96,96,409.311766,very_long_string_value_96_that_should_overflow,True,B
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
55,55,713.752270,very_long_string_value_55_that_should_overflow,False,A
59,59,-1991.704060,very_long_string_value_59_that_should_overflow,True,A
63,63,-832.381604,very_long_string_value_63_that_should_overflow,True,C
65,65,-23.291358,very_long_string_value_65_that_should_overflow,False,C
68,68,-50.472211,very_long_string_value_68_that_should_overflow,True,A
70,70,-1806.410858,very_long_string_value_70_that_should_overflow,False,B
77,77,320.908840,very_long_string_value_77_that_should_overflow,True,B
80,80,572.551048,very_long_string_value_80_that_should_overflow,False,C
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C
96,96,409.311766,very_long_string_value_96_that_should_overflow,True,B

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
19,19,646.568205,very_long_string_value_19_that_should_overflow,False,C
31,31,2376.535304,very_long_string_value_31_that_should_overflow,True,C
34,34,363.755175,very_long_string_value_34_that_should_overflow,True,A
48,48,1951.410614,very_long_string_value_48_that_should_overflow,True,C
51,51,738.090089,very_long_string_value_51_that_should_overflow,True,A
52,52,356.328386,very_long_string_value_52_that_should_overflow,True,B
60,60,835.646083,very_long_string_value_60_that_should_overflow,False,C
72,72,1017.509678,very_long_string_value_72_that_should_overflow,True,A
80,80,572.551048,very_long_string_value_80_that_should_overflow,False,C
98,98,682.007557,very_long_string_value_98_that_should_overflow,True,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
8,8,42.932174,very_long_string_value_8_that_should_overflow,False,C
10,10,-693.231159,very_long_string_value_10_that_should_overflow,True,B
12,12,-51.393879,very_long_string_value_12_that_should_overflow,True,C
24,24,1139.729339,very_long_string_value_24_that_should_overflow,True,A
30,30,19.071223,very_long_string_value_30_that_should_overflow,False,B
34,34,363.755175,very_long_string_value_34_that_should_overflow,True,A
46,46,941.507569,very_long_string_value_46_that_should_overflow,True,C
56,56,-1021.568593,very_long_string_value_56_that_should_overflow,False,A
74,74,683.945966,very_long_string_value_74_that_should_overflow,True,B
84,84,-65.547155,very_long_string_value_84_that_should_overflow,False,C

# Test 5: cols_per_row Grid Layout
Test the new grid layout feature with different numbers of columns per row.

In [13]:
# Test rounding
dtt(
    [df_mixed, df_mixed, df_mixed],
    n=5,
    float_format="{:.0f}".format,
    titles=["No decimals", "No decimals", "No decimals"],
)

dtt([df_mixed, df_mixed], float_format="{:.2f}".format, n=5, titles=["2 decimals", "2 decimals"])

# Test overflow with narrow max_col_width
dtt([df_mixed], n=5, max_col_width=80, titles=["Narrow columns (80px) - should show red overflow indicator"])

# Test overflow with very narrow width
dtt([df_mixed, tensor_2d], n=5, max_col_width=50, titles=["Very narrow (50px)", "Same width"])

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
13,13,-1295,very_long_string_value_13_that_should_overflow,False,B
18,18,820,very_long_string_value_18_that_should_overflow,False,C
47,47,-542,very_long_string_value_47_that_should_overflow,True,A
55,55,714,very_long_string_value_55_that_should_overflow,False,A
72,72,1018,very_long_string_value_72_that_should_overflow,True,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
13,13,-1295,very_long_string_value_13_that_should_overflow,False,B
18,18,820,very_long_string_value_18_that_should_overflow,False,C
47,47,-542,very_long_string_value_47_that_should_overflow,True,A
55,55,714,very_long_string_value_55_that_should_overflow,False,A
72,72,1018,very_long_string_value_72_that_should_overflow,True,A
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
13,13,-1295,very_long_string_value_13_that_should_overflow,False,B
18,18,820,very_long_string_value_18_that_should_overflow,False,C
47,47,-542,very_long_string_value_47_that_should_overflow,True,A
55,55,714,very_long_string_value_55_that_should_overflow,False,A
72,72,1018,very_long_string_value_72_that_should_overflow,True,A

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
34,34,363.76,very_long_string_value_34_that_should_overflow,True,A
40,40,664.57,very_long_string_value_40_that_should_overflow,True,C
41,41,1200.32,very_long_string_value_41_that_should_overflow,True,C
54,54,75.12,very_long_string_value_54_that_should_overflow,True,B
80,80,572.55,very_long_string_value_80_that_should_overflow,False,C
,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
34,34,363.76,very_long_string_value_34_that_should_overflow,True,A
40,40,664.57,very_long_string_value_40_that_should_overflow,True,C
41,41,1200.32,very_long_string_value_41_that_should_overflow,True,C
54,54,75.12,very_long_string_value_54_that_should_overflow,True,B
80,80,572.55,very_long_string_value_80_that_should_overflow,False,C

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
2,2,-2140.627006,very_long_string_value_2_that_should_overflow,True,C
13,13,-1294.533598,very_long_string_value_13_that_should_overflow,False,B
14,14,-997.776444,very_long_string_value_14_that_should_overflow,True,A
76,76,845.831775,very_long_string_value_76_that_should_overflow,True,B
95,95,1110.128323,very_long_string_value_95_that_should_overflow,False,C

# Test 6: Combined Features
Test multiple features together: filtering + rounding + grid layout + overflow.

In [ ]:
# Test grid layout: 2 columns per row
dtt(
    [df_mixed, tensor_2d, np_2d, np_int, np_1d],
    n=5,
    num_cols=2,
    titles=["Row 0, Col 0", "Row 0, Col 1", "Row 1, Col 0", "Row 1, Col 1", "Row 2, Col 0"],
)

In [ ]:
# Test grid layout: 3 columns per row
dtt([df_mixed, tensor_2d, np_2d, np_int, np_1d, df_mixed], n=5, num_cols=3, titles=["A", "B", "C", "D", "E", "F"])

In [22]:
# Test that widths are independent between rows
# Create a very wide dataframe for first position
df_wide = pd.DataFrame({f"col_{i}": np.random.randn(20) for i in range(15)})

df_narrow = pd.DataFrame({"x": np.random.randn(20), "y": np.random.randn(20)})

dtt(
    [df_wide, df_narrow, df_narrow, df_wide],
    n=5,
    num_cols=2,
    float_format="{:.2f}".format,
    titles=["Wide (15 cols)", "Narrow (2 cols)", "Narrow (2 cols)", "Wide (15 cols)"],
)

# Test 7: Edge Cases
Test edge cases like empty filters, single column, 1D arrays, etc.

In [23]:
# Complex test: filter + round + grid + overflow + titles
filter_mask = df_mixed["int_col"] > 25

# dtt(
#     [df_mixed, tensor_2d, np_2d, df_mixed, np_int, tensor_2d],
#     n=8,
#     how="sample",
#     filter=filter_mask,
#     num_cols=3,
#     round_float=2,
#     max_col_width=100,
#     seed=123,
#     titles=["Filtered DF", "Tensor", "NumPy", "Filtered DF 2", "Ints", "Tensor 2"],
# )

# Test 8: Performance Test
Test performance with larger datasets to ensure optimization is working.

In [24]:
# Test 1D arrays (should convert to single column DataFrame)
dtt([np_1d, np_1d], n=10, titles=["1D NumPy", "1D NumPy Again"])

# Test single column DataFrame
single_col = pd.DataFrame({"only_col": np.random.randn(50)})
dtt([single_col, np_1d, single_col], n=5, titles=["Single Col DF", "1D Array", "Single Col DF"])

# Test pandas Series (should convert to DataFrame)
series = pd.Series(np.random.randn(40), name="my_series")
dtt([series, series], n=7, titles=["Series 1", "Series 2"])

# Test very small n
dtt([df_mixed], n=1, titles=["Only 1 row"])

# Test n larger than data
small_df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
dtt([small_df], n=10, titles=["n=10 but only 3 rows exist"])

,0
,float64
2,9.658704
9,17.651509
12,-13.913723
19,-6.221003
22,-18.469299
31,-4.689281
35,2.228372
37,-14.974027
62,-13.114364
72,2.391386
,0
,float64
2,9.658704
9,17.651509
12,-13.913723
19,-6.221003
22,-18.469299
31,-4.689281
35,2.228372
37,-14.974027
62,-13.114364
72,2.391386

,only_col
,float64
10,0.151536
12,0.529751
23,-0.097463
28,-0.037441
49,0.454989
,0
,float64
16,-1.111203
19,-6.221003
35,2.228372
44,12.197057
74,2.670429
,only_col
,float64
10,0.151536
12,0.529751
23,-0.097463
28,-0.037441
49,0.454989

,my_series
,float64
0,0.532404
6,-0.405599
16,0.862689
18,0.791499
25,-0.555532
26,1.094223
33,1.043179
,my_series
,float64
0,0.532404
6,-0.405599
16,0.862689
18,0.791499
25,-0.555532
26,1.094223
33,1.043179

,int_col,float_col,str_col,bool_col,category
,int64,float64,object,bool,category
89,89,-298.031044,very_long_string_value_89_that_should_overflow,False,C

,a,b
,int64,int64
0,1,4
1,2,5
2,3,6