In [3]:
%reload_ext autoreload
%autoreload 2

# Imports

In [4]:
from kret_notebook import *  # NOTE import first
from kret_matplotlib.mpl_nb_imports import *
from kret_np_pd.np_pd_nb_imports import *
from kret_polars.polars_nb_imports import *
from kret_rosetta.rosetta_nb_imports import *
from kret_sklearn.sklearn_nb_imports import *
from kret_torch_utils.torch_nb_imports import *
from kret_lightning.lightning_nb_imports import *
from kret_tqdm.tqdm_nb_imports import *
from kret_type_hints.types_nb_imports import *
from kret_utils.utils_nb_imports import *

# from kret_wandb.wandb_nb_imports import *  # NOTE this is slow to import

[kret_sklearn.sklearn_nb_imports] Imported kret_sklearn.sklearn_nb_imports in 0.0002 seconds
[kret_torch_utils.torch_nb_imports] Imported kret_torch_utils.torch_nb_imports in 0.3742 seconds
[kret_lightning.lightning_nb_imports] Imported kret_lightning.lightning_nb_imports in 0.0014 seconds
[kret_tqdm.tqdm_nb_imports] Imported kret_tqdm.tqdm_nb_imports in 0.0000 seconds
[kret_type_hints.types_nb_imports] Imported kret_type_hints.types_nb_imports in 0.0007 seconds
[kret_utils.utils_nb_imports] Imported kret_utils.utils_nb_imports in 0.0004 seconds

# Sandbox

In [10]:
out = UTILS_sklearn.make_regression()

In [33]:
out_multi = UTILS_sklearn.make_multilabel_classification()

In [37]:
isinstance(out_multi, tuple)

True

In [39]:
UKS_NP_PD.dtt(out_multi)

In [30]:
out = sklearn.datasets.make_multilabel_classification(return_distributions=True)

In [31]:
len(out), type(out)

(4, tuple)

In [ ]:
for val in out:
    print(val.shape, type(val))

(100, 20) <class 'numpy.ndarray'>
(100, 5) <class 'numpy.ndarray'>
(5,) <class 'numpy.ndarray'>
(20, 5) <class 'numpy.ndarray'>