In [1]:
%reload_ext autoreload
%autoreload 2

# Imports

In [2]:
from kret_notebook import *  # NOTE import first
from kret_matplotlib.mpl_nb_imports import *
from kret_np_pd.np_pd_nb_imports import *
from kret_polars.polars_nb_imports import *
from kret_rosetta.rosetta_nb_imports import *
from kret_lgbm.lgbm_nb_imports import *
from kret_sklearn.sklearn_nb_imports import *
from kret_torch_utils.torch_nb_imports import *
from kret_lightning.lightning_nb_imports import *
from kret_tqdm.tqdm_nb_imports import *
from kret_type_hints.types_nb_imports import *
from kret_utils.utils_nb_imports import *

# from kret_wandb.wandb_nb_imports import *  # NOTE this is slow to import

[kret_np_pd.np_pd_nb_imports] Imported kret_np_pd.np_pd_nb_imports in 0.0203 seconds
Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env
[kret_matplotlib.mpl_nb_imports] Imported kret_matplotlib.mpl_nb_imports in 0.0614 seconds
[kret_polars.polars_nb_imports] Imported kret_polars.polars_nb_imports in 0.0577 seconds
[kret_rosetta.rosetta_nb_imports] Imported kret_rosetta.rosetta_nb_imports in 0.0000 seconds
[kret_lgbm.lgbm_nb_imports] Imported kret_lgbm.lgbm_nb_imports in 0.0004 seconds
[kret_sklearn.sklearn_nb_imports] Imported kret_sklearn.sklearn_nb_imports in 0.1081 seconds
[kret_torch_utils.torch_nb_imports] Imported kret_torch_utils.torch_nb_imports in 0.3217 seconds
[kret_lightning.lightning_nb_imports] Imported kret_lightning.lightning_nb_imports in 0.0010 seconds
[kret_tqdm.tqdm_nb_imports] Imported kret_tqdm.tqdm_nb_imports in 0.0001 seconds
[kret_type_hints.types_nb_imports] Imported kret_type_hints.types_nb_imports in 0.1071 seconds
[kret_utils.utils_nb_imports] Imported kret_utils.utils_nb_imports in 0.0002 seconds

In [3]:
import importlib

import kret_np_pd
import kret_np_pd.memo_df


importlib.reload(kret_np_pd.memo_df)

# Starting out

In [4]:
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
aux = pd.DataFrame({"c": [10, 20, 30], "d": [40, 50, 60]})

In [5]:
memodf = MemoDataFrame({"data": df})

In [6]:
memodf

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
memodf.data

   a  b
0  1  4
1  2  5
2  3  6

## Test Class

In [8]:
class MyInputDict(InputTypedDict):
    aux: pd.DataFrame

In [9]:
cached_property

functools.cached_property

In [10]:
class MyMemoDataFrame(MemoDataFrame[MyInputDict]):
    @memo_array
    def a_sq(self):
        print("Calculating a_sq")
        return self.data["a"] ** 2

    @memo_array
    def compute_sum(self):
        return self.data.sum(axis=1) + self.inputs["aux"].sum(axis=1)

In [11]:
memo2 = MyMemoDataFrame({"data": df, "aux": aux})

In [12]:
type(memo2.a_sq), memo2.compute_sum

Calculating a_sq

(numpy.ndarray, array([55, 77, 99]))

In [13]:
dtt(memo2, n=2, how="sample")

,a,b,a_sq,compute_sum
,int64,int64,int64,int64
0,1,4,1,55
2,3,6,9,99

In [14]:
memo2

   a  b  a_sq  compute_sum
0  1  4     1           55
1  2  5     4           77
2  3  6     9           99

In [15]:
memo2._memo_dict

{'a_sq': array([1, 4, 9]), 'compute_sum': array([55, 77, 99])}

In [16]:
memo2.clear()

In [17]:
memo2.a_sq

Calculating a_sq

array([1, 4, 9])

In [18]:
memo2.data

   a  b
0  1  4
1  2  5
2  3  6

# Sandbox

In [19]:
del memo2.a_sq

In [20]:
memo2

   a  b
0  1  4
1  2  5
2  3  6

In [21]:
memo2.a_sq

Calculating a_sq

array([1, 4, 9])

In [22]:
memo2

   a  b  a_sq
0  1  4     1
1  2  5     4
2  3  6     9