In [1]:
%reload_ext autoreload
%autoreload 2

# Imports

In [2]:
from kret_notebook import *  # NOTE import first
from kret_matplotlib.mpl_nb_imports import *
from kret_np_pd.np_pd_nb_imports import *
from kret_polars.polars_nb_imports import *
from kret_rosetta.rosetta_nb_imports import *
from kret_lgbm.lgbm_nb_imports import *
from kret_sklearn.sklearn_nb_imports import *
from kret_torch_utils.torch_nb_imports import *
from kret_lightning.lightning_nb_imports import *
from kret_tqdm.tqdm_nb_imports import *
from kret_type_hints.types_nb_imports import *
from kret_utils.utils_nb_imports import *

# from kret_wandb.wandb_nb_imports import *  # NOTE this is slow to import

[kret_np_pd.np_pd_nb_imports] Imported kret_np_pd.np_pd_nb_imports in 0.0202 seconds
Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env
[kret_matplotlib.mpl_nb_imports] Imported kret_matplotlib.mpl_nb_imports in 0.0747 seconds
[kret_polars.polars_nb_imports] Imported kret_polars.polars_nb_imports in 0.0650 seconds
[kret_rosetta.rosetta_nb_imports] Imported kret_rosetta.rosetta_nb_imports in 0.0000 seconds
[kret_lgbm.lgbm_nb_imports] Imported kret_lgbm.lgbm_nb_imports in 0.0004 seconds
[kret_sklearn.sklearn_nb_imports] Imported kret_sklearn.sklearn_nb_imports in 0.1061 seconds
[kret_torch_utils.torch_nb_imports] Imported kret_torch_utils.torch_nb_imports in 0.3188 seconds
[kret_lightning.lightning_nb_imports] Imported kret_lightning.lightning_nb_imports in 0.0010 seconds
[kret_tqdm.tqdm_nb_imports] Imported kret_tqdm.tqdm_nb_imports in 0.0001 seconds
[kret_type_hints.types_nb_imports] Imported kret_type_hints.types_nb_imports in 0.1067 seconds
[kret_utils.utils_nb_imports] Imported kret_utils.utils_nb_imports in 0.0002 seconds

In [37]:
import importlib

import kret_np_pd
import kret_np_pd.memo_df


importlib.reload(kret_np_pd.memo_df)

# Starting out

In [38]:
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
aux = pd.DataFrame({"c": [10, 20, 30], "d": [40, 50, 60]})

In [39]:
memodf = MemoDataFrame({"data": df})

In [40]:
memodf

   a  b
0  1  4
1  2  5
2  3  6

In [41]:
memodf.data

   a  b
0  1  4
1  2  5
2  3  6

## Test Class

In [42]:
class MyInputDict(InputTypedDict):
    aux: pd.DataFrame

In [ ]:
class MyMemoDataFrame(MemoDataFrame[MyInputDict]):
    @memo_array
    def a_sq(self):
        print("Calculating a_sq")
        return self.data["a"] ** 2

    @memo_array
    def compute_sum(self):
        return (self.data.sum(axis=1) + self.inputs["aux"].sum(axis=1)).to_numpy()

In [44]:
memo2 = MyMemoDataFrame({"data": df, "aux": aux})

In [58]:
type(memo2.a_sq)

numpy.ndarray

In [ ]:
dtt(memo2, n=2, how="sample")

,a,b,a_sq
,int64,int64,int64
0,1,4,1
2,3,6,9

In [47]:
memo2

   a  b  a_sq
0  1  4     1
1  2  5     4
2  3  6     9

In [48]:
memo2._memo_dict

{'a_sq': array([1, 4, 9])}

In [49]:
memo2.clear()

In [50]:
memo2.a_sq

Calculating a_sq

array([1, 4, 9])

In [51]:
memo2.data

   a  b
0  1  4
1  2  5
2  3  6

# Sandbox

In [52]:
memo2.to_pandas()

   a  b  a_sq
0  1  4     1
1  2  5     4
2  3  6     9

In [ ]:
from kret_rosetta.conversion_protocols import PandasConvertibleWithColumns, ImplementsToPandas

In [54]:
isinstance(memo2, PandasConvertibleWithColumns)

False

In [55]:
isinstance(memo2, ImplementsToPandas)

True

In [56]:
isinstance(TensorDatasetCustom, PandasConvertibleWithColumns)

True

In [57]:
isinstance(TensorDatasetCustom, ImplementsToPandas)

True