In [1]:
%reload_ext autoreload
%autoreload 2

# Imports

In [2]:
from kret_notebook import *  # NOTE import first
from kret_matplotlib.mpl_nb_imports import *
from kret_np_pd.np_pd_nb_imports import *
from kret_polars.polars_nb_imports import *
from kret_rosetta.rosetta_nb_imports import *
from kret_lgbm.lgbm_nb_imports import *
from kret_sklearn.sklearn_nb_imports import *
from kret_torch_utils.torch_nb_imports import *
from kret_lightning.lightning_nb_imports import *
from kret_tqdm.tqdm_nb_imports import *
from kret_type_hints.types_nb_imports import *
from kret_utils.utils_nb_imports import *

# from kret_wandb.wandb_nb_imports import *  # NOTE this is slow to import

[kret_np_pd.np_pd_nb_imports] Imported kret_np_pd.np_pd_nb_imports in 0.0243 seconds
Loaded environment variables from /Users/Akseldkw/coding/kretsinger/.env
[kret_matplotlib.mpl_nb_imports] Imported kret_matplotlib.mpl_nb_imports in 0.0828 seconds
[kret_polars.polars_nb_imports] Imported kret_polars.polars_nb_imports in 0.0916 seconds
[kret_rosetta.rosetta_nb_imports] Imported kret_rosetta.rosetta_nb_imports in 0.0000 seconds
[kret_lgbm.lgbm_nb_imports] Imported kret_lgbm.lgbm_nb_imports in 0.0006 seconds
[kret_sklearn.sklearn_nb_imports] Imported kret_sklearn.sklearn_nb_imports in 0.1371 seconds
[kret_torch_utils.torch_nb_imports] Imported kret_torch_utils.torch_nb_imports in 0.3828 seconds
[kret_lightning.lightning_nb_imports] Imported kret_lightning.lightning_nb_imports in 0.0014 seconds
[kret_tqdm.tqdm_nb_imports] Imported kret_tqdm.tqdm_nb_imports in 0.0002 seconds
[kret_type_hints.types_nb_imports] Imported kret_type_hints.types_nb_imports in 0.1133 seconds
[kret_utils.utils_nb_imports] Imported kret_utils.utils_nb_imports in 0.0008 seconds

# Starting out

In [3]:
df = pd.DataFrame({"a": [1, 2, 3], "b": [4, 5, 6]})
aux = pd.DataFrame({"c": [10, 20, 30], "d": [40, 50, 60]})

In [7]:
memodf = MemoDataFrame({"data": df})

In [8]:
memodf

   a  b
0  1  4
1  2  5
2  3  6

In [9]:
memodf.data

   a  b
0  1  4
1  2  5
2  3  6

In [10]:
df.inputs

AttributeError: 'DataFrame' object has no attribute 'inputs'

## Test Class

In [11]:
class MyInputDict(InputTypedDict):
    aux: pd.DataFrame

In [12]:
class MyMemoDataFrame(MemoDataFrame[MyInputDict]):
    @memo_array
    def a_sq(self):
        return t.cast(np.ndarray, (self.data["a"] ** 2).to_numpy())

    @memo_array
    def compute_sum(self):
        return t.cast(np.ndarray, (self.data.sum(axis=1) + self.inputs["aux"].sum(axis=1)).to_numpy())

In [13]:
memo2 = MyMemoDataFrame({"data": df, "aux": aux})

In [14]:
memo2.a_sq

array([1, 4, 9])

In [15]:
memo2

   a  b
0  1  4
1  2  5
2  3  6

# Sandbox