In [1]:
%reload_ext autoreload
%autoreload 2

In [30]:
from kret_notebook import *  # NOTE import first
from kret_matplotlib.mpl_nb_imports import *
from kret_np_pd.np_pd_nb_imports import *
from kret_sklearn.sklearn_nb_imports import *
from kret_utils.utils_nb_imports import *
from kret_type_hints.types_nb_imports import *

[kret_type_hints.types_nb_imports] Imported kret_type_hints.types_nb_imports in 0.0011 seconds

In [32]:
ds_len = 50

In [33]:
x, y = sklearn.datasets.make_sparse_uncorrelated(n_samples=ds_len, n_features=5, random_state=42)

In [42]:
x2, y2 = sklearn.datasets.make_classification(
    n_samples=ds_len, n_features=56, n_informative=10, n_redundant=5, random_state=42
)

In [43]:
xdf = pd.DataFrame(x, columns=[f"f{i}" for i in range(x.shape[1])])

In [44]:
xdf2 = pd.DataFrame(x2, columns=[f"f{i}" for i in range(x2.shape[1])])

In [45]:
xdf.sample(5)

          f0        f1        f2        f3        f4
31 -0.714351  1.865775  0.473833 -1.191303  0.656554
39  0.385317 -0.883857  0.153725  0.058209 -1.142970
0   0.496714 -0.138264  0.647689  1.523030 -0.234153
47  0.633919 -2.025143  0.186454 -0.661786  0.852433
19 -1.463515  0.296120  0.261055  0.005113 -0.234587

In [49]:
arrmanydim = np.arange(20).reshape(4, 5)

In [ ]:
dtt([arrmanydim, xdf, xdf2], num_cols=None, how="head", titles=["Sparse Uncorrelated", "Classification"])

In [47]:
xdf2.sample(5)

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f46,f47,f48,f49,f50,f51,f52,f53,f54,f55
39,0.278994,0.309821,-0.429406,0.125225,-0.718407,-1.243863,-0.968344,0.043811,-2.147651,-0.878962,...,-1.592994,-1.334025,0.440475,-0.129821,0.413799,-0.673491,-1.649896,-1.402605,0.633777,0.543298
4,0.115026,-0.751969,-1.320023,-0.742471,-0.309209,0.082440,-1.601966,1.901191,0.104121,2.143744,...,0.123205,-0.843247,0.551485,0.021312,-0.796026,-1.875172,-1.232487,-1.504720,-0.319054,-0.037037
32,0.260674,1.172729,-1.464375,-1.225766,1.476540,0.652323,0.436324,1.148766,-0.269417,0.211560,...,-0.257377,0.120031,-1.668584,-2.848543,-0.370614,0.494030,2.643006,-0.172627,0.543600,1.047098
7,1.987061,1.554160,-0.592356,0.885231,-0.485306,1.341476,0.144888,0.558140,-0.490954,-0.625090,...,1.532368,-0.351414,0.499864,0.043515,0.414866,-0.879814,4.917939,0.003696,0.853976,1.954157
35,1.281016,-0.846357,-1.563191,-0.291811,0.919229,0.113270,-0.728003,-0.955123,-1.602429,-2.265901,...,-0.482744,1.374876,-0.953329,-0.403648,1.029961,-0.447322,5.953216,-0.426358,-0.643550,-0.077837

In [48]:
xdf.sample(5)

          f0        f1        f2        f3        f4
4   1.465649 -0.225776  0.067528 -1.424748 -0.544383
33  0.412781  0.822060  1.896793 -0.245388 -0.753736
16 -0.219672  0.357113  1.477894 -0.518270 -0.808494
1  -0.234137  1.579213  0.767435 -0.469474  0.542560
23  0.301547 -0.034712 -1.168678  1.142823  0.751933